<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ui_avatar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{5,5},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_avatar_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{1247,5},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_avatar_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{1385,5},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_avatar_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{1523,5},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_avatar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{143,5},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_avatar_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{281,5},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_avatar_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{419,5},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_avatar_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{557,5},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_avatar_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{695,5},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_avatar_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{833,5},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_avatar_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{971,5},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_avatar_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{1109,5},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_frame_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1661,5},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_frame_bell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,85}</string>
                <key>spriteSourceSize</key>
                <string>{78,85}</string>
                <key>textureRect</key>
                <string>{{1771,5},{78,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>avatar.png</string>
            <key>size</key>
            <string>{1854,143}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e282e5d62324f6dc7b24abc265a1a2e1:93ba24f97186c00c0b028147c6682b4f:db3594e7e80887c479b4f04a5ee0989e$</string>
            <key>textureFileName</key>
            <string>avatar.png</string>
        </dict>
    </dict>
</plist>
