<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dice_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,114}</string>
                <key>spriteSourceSize</key>
                <string>{103,114}</string>
                <key>textureRect</key>
                <string>{{3,235},{103,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dice_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,113}</string>
                <key>spriteSourceSize</key>
                <string>{104,113}</string>
                <key>textureRect</key>
                <string>{{3,3},{104,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dice_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{109,235},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dice_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,113}</string>
                <key>spriteSourceSize</key>
                <string>{104,113}</string>
                <key>textureRect</key>
                <string>{{110,3},{104,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dice_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,113}</string>
                <key>spriteSourceSize</key>
                <string>{104,113}</string>
                <key>textureRect</key>
                <string>{{3,119},{104,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dice_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,113}</string>
                <key>spriteSourceSize</key>
                <string>{104,113}</string>
                <key>textureRect</key>
                <string>{{110,119},{104,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dice_sicbo.png</string>
            <key>size</key>
            <string>{217,352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:587748d60256cb9e9337ebeaefb4994b:3bebbfdc09f8f76d8efcbe60013ba87b:da84cb08bc2fb750506a2166a04229ac$</string>
            <key>textureFileName</key>
            <string>dice_sicbo.png</string>
        </dict>
    </dict>
</plist>
