<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{76,78}</string>
                <key>textureRect</key>
                <string>{{218,298},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{76,78}</string>
                <key>textureRect</key>
                <string>{{299,298},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_copy_md5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,33}</string>
                <key>spriteSourceSize</key>
                <string>{67,33}</string>
                <key>textureRect</key>
                <string>{{605,40},{67,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{720,219},{72,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_next_chip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,49}</string>
                <key>spriteSourceSize</key>
                <string>{33,49}</string>
                <key>textureRect</key>
                <string>{{110,83},{33,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_nguoichoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{87,88}</string>
                <key>textureRect</key>
                <string>{{826,298},{87,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_rebet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,72}</string>
                <key>spriteSourceSize</key>
                <string>{145,72}</string>
                <key>textureRect</key>
                <string>{{570,219},{145,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_thongke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{76,78}</string>
                <key>textureRect</key>
                <string>{{380,298},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_bao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{92,5},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{114,5},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{136,5},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_md5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,30}</string>
                <key>spriteSourceSize</key>
                <string>{335,30}</string>
                <key>textureRect</key>
                <string>{{364,5},{335,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_phien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,30}</string>
                <key>spriteSourceSize</key>
                <string>{335,30}</string>
                <key>textureRect</key>
                <string>{{5,40},{335,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_tiencuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,29}</string>
                <key>spriteSourceSize</key>
                <string>{112,29}</string>
                <key>textureRect</key>
                <string>{{213,5},{112,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_tiencuoc_onho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,26}</string>
                <key>spriteSourceSize</key>
                <string>{50,26}</string>
                <key>textureRect</key>
                <string>{{158,5},{50,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fx_frame01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,44}</string>
                <key>textureRect</key>
                <string>{{5,83},{100,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fx_frame03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,89}</string>
                <key>spriteSourceSize</key>
                <string>{63,89}</string>
                <key>textureRect</key>
                <string>{{5,391},{63,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fx_frame04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,104}</string>
                <key>spriteSourceSize</key>
                <string>{61,104}</string>
                <key>textureRect</key>
                <string>{{398,499},{61,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fx_frame05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,57}</string>
                <key>spriteSourceSize</key>
                <string>{162,57}</string>
                <key>textureRect</key>
                <string>{{482,83},{162,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fx_frame05_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,57}</string>
                <key>spriteSourceSize</key>
                <string>{162,57}</string>
                <key>textureRect</key>
                <string>{{649,83},{162,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fx_frame05_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,57}</string>
                <key>spriteSourceSize</key>
                <string>{162,57}</string>
                <key>textureRect</key>
                <string>{{5,145},{162,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fx_frame_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,80}</string>
                <key>spriteSourceSize</key>
                <string>{48,80}</string>
                <key>textureRect</key>
                <string>{{461,298},{48,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fx_frame_bao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,103}</string>
                <key>spriteSourceSize</key>
                <string>{152,103}</string>
                <key>textureRect</key>
                <string>{{673,391},{152,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fx_frame_chan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,85}</string>
                <key>spriteSourceSize</key>
                <string>{151,85}</string>
                <key>textureRect</key>
                <string>{{514,298},{151,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fx_frame_le.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,86}</string>
                <key>spriteSourceSize</key>
                <string>{151,86}</string>
                <key>textureRect</key>
                <string>{{670,298},{151,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fx_frame_tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,188}</string>
                <key>spriteSourceSize</key>
                <string>{160,188}</string>
                <key>textureRect</key>
                <string>{{582,499},{160,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fx_frame_xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,188}</string>
                <key>spriteSourceSize</key>
                <string>{163,188}</string>
                <key>textureRect</key>
                <string>{{747,499},{163,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fx_monap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,418}</string>
                <key>spriteSourceSize</key>
                <string>{438,418}</string>
                <key>textureRect</key>
                <string>{{252,692},{438,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Text_bao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,68}</string>
                <key>spriteSourceSize</key>
                <string>{141,68}</string>
                <key>textureRect</key>
                <string>{{700,145},{141,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Text_key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,12}</string>
                <key>spriteSourceSize</key>
                <string>{34,12}</string>
                <key>textureRect</key>
                <string>{{11,5},{34,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Text_md5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,12}</string>
                <key>spriteSourceSize</key>
                <string>{37,12}</string>
                <key>textureRect</key>
                <string>{{50,5},{37,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Text_tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,67}</string>
                <key>spriteSourceSize</key>
                <string>{102,67}</string>
                <key>textureRect</key>
                <string>{{593,145},{102,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Text_xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,74}</string>
                <key>spriteSourceSize</key>
                <string>{111,74}</string>
                <key>textureRect</key>
                <string>{{797,219},{111,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Toast_ketqua_monap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,103}</string>
                <key>spriteSourceSize</key>
                <string>{388,103}</string>
                <key>textureRect</key>
                <string>{{5,499},{388,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_dia_to.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,219}</string>
                <key>spriteSourceSize</key>
                <string>{242,219}</string>
                <key>textureRect</key>
                <string>{{5,692},{242,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_frame_avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,92}</string>
                <key>spriteSourceSize</key>
                <string>{268,92}</string>
                <key>textureRect</key>
                <string>{{168,391},{268,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_frame_avatar_nguoichoikhac.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,110}</string>
                <key>spriteSourceSize</key>
                <string>{113,110}</string>
                <key>textureRect</key>
                <string>{{464,499},{113,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_frame_chip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,70}</string>
                <key>spriteSourceSize</key>
                <string>{560,70}</string>
                <key>textureRect</key>
                <string>{{5,219},{560,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_frame_md5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,34}</string>
                <key>spriteSourceSize</key>
                <string>{107,34}</string>
                <key>textureRect</key>
                <string>{{677,40},{107,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_frame_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,96}</string>
                <key>spriteSourceSize</key>
                <string>{227,96}</string>
                <key>textureRect</key>
                <string>{{441,391},{227,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_frame_win_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,75}</string>
                <key>spriteSourceSize</key>
                <string>{69,75}</string>
                <key>textureRect</key>
                <string>{{5,298},{69,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_ketqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,76}</string>
                <key>spriteSourceSize</key>
                <string>{134,76}</string>
                <key>textureRect</key>
                <string>{{79,298},{134,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_soicau_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,53}</string>
                <key>spriteSourceSize</key>
                <string>{329,53}</string>
                <key>textureRect</key>
                <string>{{148,83},{329,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_soicaumini_phientruoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,32}</string>
                <key>spriteSourceSize</key>
                <string>{255,32}</string>
                <key>textureRect</key>
                <string>{{345,40},{255,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_timeline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{523,145},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_timeline_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{846,145},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ava_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{73,391},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dollar_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{789,40},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emptyimage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{5,5},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_ngungnan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{330,5},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,61}</string>
                <key>spriteSourceSize</key>
                <string>{94,61}</string>
                <key>textureRect</key>
                <string>{{325,145},{94,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,61}</string>
                <key>spriteSourceSize</key>
                <string>{72,61}</string>
                <key>textureRect</key>
                <string>{{248,145},{72,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,60}</string>
                <key>spriteSourceSize</key>
                <string>{71,60}</string>
                <key>textureRect</key>
                <string>{{172,145},{71,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_x88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,62}</string>
                <key>spriteSourceSize</key>
                <string>{94,62}</string>
                <key>textureRect</key>
                <string>{{424,145},{94,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mainSicBo.png</string>
            <key>size</key>
            <string>{920,1115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dd713110974f1985733e2bde3a09c98:d8c272b7a2c5b6186778c15091ab26b3:974dc3adf6af4265a868f23498dfca73$</string>
            <key>textureFileName</key>
            <string>mainSicBo.png</string>
        </dict>
    </dict>
</plist>
