<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>frames</key>
  <dict>
    <key>icoAvatar</key>
    <dict>
      <key>frame</key><string>{{93,372},{113,112}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{113,112}}</string>
      <key>sourceSize</key><string>{113,112}</string>
    </dict>
    <key>Chip_10M_dup2</key>
    <dict>
      <key>frame</key><string>{{1798,344},{86,90}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{86,90}}</string>
      <key>sourceSize</key><string>{86,90}</string>
    </dict>
    <key>btnDangNhap111Copy3</key>
    <dict>
      <key>frame</key><string>{{596,328},{155,47}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{155,47}}</string>
      <key>sourceSize</key><string>{155,47}</string>
    </dict>
    <key>Chip_10K</key>
    <dict>
      <key>frame</key><string>{{1709,344},{86,90}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{86,90}}</string>
      <key>sourceSize</key><string>{86,90}</string>
    </dict>
    <key>BG 2</key>
    <dict>
      <key>frame</key><string>{{114,360},{6,157}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{6,157}}</string>
      <key>sourceSize</key><string>{6,157}</string>
    </dict>
    <key>Chip_100K</key>
    <dict>
      <key>frame</key><string>{{1531,344},{86,90}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{86,90}}</string>
      <key>sourceSize</key><string>{86,90}</string>
    </dict>
    <key>khungchip1</key>
    <dict>
      <key>frame</key><string>{{2,2},{442,68}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{442,68}}</string>
      <key>sourceSize</key><string>{442,68}</string>
    </dict>
    <key>empty</key>
    <dict>
      <key>frame</key><string>{{208,477},{3,3}}</string>
      <key>offset</key><string>{-15.5,13.5}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{3,3}}</string>
      <key>sourceSize</key><string>{34,30}</string>
    </dict>
    <key>Chip_1M</key>
    <dict>
      <key>frame</key><string>{{1546,142},{86,90}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{86,90}}</string>
      <key>sourceSize</key><string>{86,90}</string>
    </dict>
    <key>khungLivestream</key>
    <dict>
      <key>frame</key><string>{{99,2},{12,366}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{12,366}}</string>
      <key>sourceSize</key><string>{12,366}</string>
    </dict>
    <key>btn lsc</key>
    <dict>
      <key>frame</key><string>{{1608,235},{59,59}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{59,59}}</string>
      <key>sourceSize</key><string>{59,59}</string>
    </dict>
    <key>ketQua</key>
    <dict>
      <key>frame</key><string>{{114,2},{355,23}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{355,23}}</string>
      <key>sourceSize</key><string>{355,23}</string>
    </dict>
    <key>do</key>
    <dict>
      <key>frame</key><string>{{73,372},{14,15}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{14,15}}</string>
      <key>sourceSize</key><string>{14,15}</string>
    </dict>
    <key>small glow</key>
    <dict>
      <key>frame</key><string>{{1159,323},{144,124}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{144,124}}</string>
      <key>sourceSize</key><string>{144,124}</string>
    </dict>
    <key>CHẴN</key>
    <dict>
      <key>frame</key><string>{{1439,286},{61,25}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{61,25}}</string>
      <key>sourceSize</key><string>{61,25}</string>
    </dict>
    <key>khungCopy</key>
    <dict>
      <key>frame</key><string>{{166,2},{354,119}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{354,119}}</string>
      <key>sourceSize</key><string>{354,119}</string>
    </dict>
    <key>btnDangNhap111Copy2</key>
    <dict>
      <key>frame</key><string>{{546,328},{155,47}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{155,47}}</string>
      <key>sourceSize</key><string>{155,47}</string>
    </dict>
    <key>bgLivestream</key>
    <dict>
      <key>frame</key><string>{{73,2},{23,367}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{23,367}}</string>
      <key>sourceSize</key><string>{23,367}</string>
    </dict>
    <key>buttonGui@2x</key>
    <dict>
      <key>frame</key><string>{{309,390},{93,53}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{93,53}}</string>
      <key>sourceSize</key><string>{93,53}</string>
    </dict>
    <key>MENU</key>
    <dict>
      <key>frame</key><string>{{208,369},{67,63}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{67,63}}</string>
      <key>sourceSize</key><string>{67,63}</string>
    </dict>
    <key>trang</key>
    <dict>
      <key>frame</key><string>{{73,389},{14,15}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{14,15}}</string>
      <key>sourceSize</key><string>{14,15}</string>
    </dict>
    <key>bg thong ke</key>
    <dict>
      <key>frame</key><string>{{1329,49},{44,265}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{44,265}}</string>
      <key>sourceSize</key><string>{44,265}</string>
    </dict>
    <key>chat</key>
    <dict>
      <key>frame</key><string>{{1329,2},{44,554}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{44,554}}</string>
      <key>sourceSize</key><string>{44,554}</string>
    </dict>
    <key>Chip_Glow</key>
    <dict>
      <key>frame</key><string>{{1319,344},{104,105}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{104,105}}</string>
      <key>sourceSize</key><string>{104,105}</string>
    </dict>
    <key>iconThoat</key>
    <dict>
      <key>frame</key><string>{{274,359},{128,32}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{128,32}}</string>
      <key>sourceSize</key><string>{128,32}</string>
    </dict>
    <key>line</key>
    <dict>
      <key>frame</key><string>{{208,483},{46,2}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{46,2}}</string>
      <key>sourceSize</key><string>{46,2}</string>
    </dict>
    <key>chipTrang</key>
    <dict>
      <key>frame</key><string>{{1864,88},{35,35}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{35,35}}</string>
      <key>sourceSize</key><string>{35,35}</string>
    </dict>
    <key>iconCaiDat</key>
    <dict>
      <key>frame</key><string>{{309,357},{133,30}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{133,30}}</string>
      <key>sourceSize</key><string>{133,30}</string>
    </dict>
    <key>loading bar inside</key>
    <dict>
      <key>frame</key><string>{{1032,475},{571,12}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{571,12}}</string>
      <key>sourceSize</key><string>{571,12}</string>
    </dict>
    <key>lineNgangCopy</key>
    <dict>
      <key>frame</key><string>{{288,329},{155,25}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{155,25}}</string>
      <key>sourceSize</key><string>{155,25}</string>
    </dict>
    <key>small glow yellow</key>
    <dict>
      <key>frame</key><string>{{1032,328},{144,124}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{144,124}}</string>
      <key>sourceSize</key><string>{144,124}</string>
    </dict>
    <key>logo xocdia</key>
    <dict>
      <key>frame</key><string>{{1158,2},{318,168}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{318,168}}</string>
      <key>sourceSize</key><string>{318,168}</string>
    </dict>
    <key>ketQuaCopy2</key>
    <dict>
      <key>frame</key><string>{{140,2},{355,23}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{355,23}}</string>
      <key>sourceSize</key><string>{355,23}</string>
    </dict>
    <key>Chip_1K</key>
    <dict>
      <key>frame</key><string>{{1546,49},{86,90}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{86,90}}</string>
      <key>sourceSize</key><string>{86,90}</string>
    </dict>
    <key>btn xem thong ke 2</key>
    <dict>
      <key>frame</key><string>{{951,328},{154,45}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{154,45}}</string>
      <key>sourceSize</key><string>{154,45}</string>
    </dict>
    <key>boderChat</key>
    <dict>
      <key>frame</key><string>{{1376,49},{167,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{167,234}}</string>
      <key>sourceSize</key><string>{167,234}</string>
    </dict>
    <key>Chip_50K</key>
    <dict>
      <key>frame</key><string>{{1732,49},{86,90}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{86,90}}</string>
      <key>sourceSize</key><string>{86,90}</string>
    </dict>
    <key>iconLuatChoi</key>
    <dict>
      <key>frame</key><string>{{999,328},{153,30}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{153,30}}</string>
      <key>sourceSize</key><string>{153,30}</string>
    </dict>
    <key>loading bar</key>
    <dict>
      <key>frame</key><string>{{1319,323},{577,18}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{577,18}}</string>
      <key>sourceSize</key><string>{577,18}</string>
    </dict>
    <key>Chip_500K</key>
    <dict>
      <key>frame</key><string>{{1635,142},{86,90}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{86,90}}</string>
      <key>sourceSize</key><string>{86,90}</string>
    </dict>
    <key>Chip_50M</key>
    <dict>
      <key>frame</key><string>{{1724,138},{86,90}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{86,90}}</string>
      <key>sourceSize</key><string>{86,90}</string>
    </dict>
    <key>btnDangNhap1111Copy4</key>
    <dict>
      <key>frame</key><string>{{446,329},{155,47}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{155,47}}</string>
      <key>sourceSize</key><string>{155,47}</string>
    </dict>
    <key>chipDo</key>
    <dict>
      <key>frame</key><string>{{1531,437},{35,35}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{35,35}}</string>
      <key>sourceSize</key><string>{35,35}</string>
    </dict>
    <key>icExit</key>
    <dict>
      <key>frame</key><string>{{1606,437},{45,50}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{45,50}}</string>
      <key>sourceSize</key><string>{45,50}</string>
    </dict>
    <key>ban game</key>
    <dict>
      <key>frame</key><string>{{451,2},{653,323}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{653,323}}</string>
      <key>sourceSize</key><string>{653,323}</string>
    </dict>
    <key>BG 3</key>
    <dict>
      <key>frame</key><string>{{208,439},{61,35}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{61,35}}</string>
      <key>sourceSize</key><string>{61,35}</string>
    </dict>
    <key>iconLsCuoc</key>
    <dict>
      <key>frame</key><string>{{1286,323},{143,30}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{143,30}}</string>
      <key>sourceSize</key><string>{143,30}</string>
    </dict>
    <key>btnDangNhap11Copy2</key>
    <dict>
      <key>frame</key><string>{{796,328},{155,47}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{155,47}}</string>
      <key>sourceSize</key><string>{155,47}</string>
    </dict>
    <key>Chip_5K</key>
    <dict>
      <key>frame</key><string>{{1813,138},{86,90}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{86,90}}</string>
      <key>sourceSize</key><string>{86,90}</string>
    </dict>
    <key>btn faq</key>
    <dict>
      <key>frame</key><string>{{1546,235},{59,59}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{59,59}}</string>
      <key>sourceSize</key><string>{59,59}</string>
    </dict>
    <key>showKetQua</key>
    <dict>
      <key>frame</key><string>{{1107,2},{323,48}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{323,48}}</string>
      <key>sourceSize</key><string>{323,48}</string>
    </dict>
    <key>Chip_5M</key>
    <dict>
      <key>frame</key><string>{{1732,231},{86,90}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{86,90}}</string>
      <key>sourceSize</key><string>{86,90}</string>
    </dict>
    <key>exportbaucua4</key>
    <dict>
      <key>frame</key><string>{{365,390},{54,80}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{54,80}}</string>
      <key>sourceSize</key><string>{54,80}</string>
    </dict>
    <key>LẺ</key>
    <dict>
      <key>frame</key><string>{{1503,286},{23,24}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{23,24}}</string>
      <key>sourceSize</key><string>{23,24}</string>
    </dict>
    <key>khung</key>
    <dict>
      <key>frame</key><string>{{288,2},{324,123}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{324,123}}</string>
      <key>sourceSize</key><string>{324,123}</string>
    </dict>
    <key>btn member</key>
    <dict>
      <key>frame</key><string>{{1670,235},{59,59}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{59,59}}</string>
      <key>sourceSize</key><string>{59,59}</string>
    </dict>
    <key>4 red_dup2</key>
    <dict>
      <key>frame</key><string>{{1732,437},{36,37}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{36,37}}</string>
      <key>sourceSize</key><string>{36,37}</string>
    </dict>
    <key>C</key>
    <dict>
      <key>frame</key><string>{{1825,49},{36,37}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{36,37}}</string>
      <key>sourceSize</key><string>{36,37}</string>
    </dict>
    <key>2 red 2 white</key>
    <dict>
      <key>frame</key><string>{{54,447},{36,37}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{36,37}}</string>
      <key>sourceSize</key><string>{36,37}</string>
    </dict>
    <key>3 white 1 red</key>
    <dict>
      <key>frame</key><string>{{1693,437},{36,37}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{36,37}}</string>
      <key>sourceSize</key><string>{36,37}</string>
    </dict>
    <key>4 white</key>
    <dict>
      <key>frame</key><string>{{1837,433},{36,37}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{36,37}}</string>
      <key>sourceSize</key><string>{36,37}</string>
    </dict>
    <key>L</key>
    <dict>
      <key>frame</key><string>{{1825,88},{36,37}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{36,37}}</string>
      <key>sourceSize</key><string>{36,37}</string>
    </dict>
    <key>3 red 1 white</key>
    <dict>
      <key>frame</key><string>{{1654,437},{36,37}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{36,37}}</string>
      <key>sourceSize</key><string>{36,37}</string>
    </dict>
    <key>Chip_20M</key>
    <dict>
      <key>frame</key><string>{{1635,49},{86,90}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{86,90}}</string>
      <key>sourceSize</key><string>{86,90}</string>
    </dict>
    <key>btnDangNhap11Copy</key>
    <dict>
      <key>frame</key><string>{{746,328},{155,47}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{155,47}}</string>
      <key>sourceSize</key><string>{155,47}</string>
    </dict>
    <key>chipselect</key>
    <dict>
      <key>frame</key><string>{{1426,344},{102,105}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{102,105}}</string>
      <key>sourceSize</key><string>{102,105}</string>
    </dict>
    <key>btn xem thong ke 1</key>
    <dict>
      <key>frame</key><string>{{903,328},{154,45}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{154,45}}</string>
      <key>sourceSize</key><string>{154,45}</string>
    </dict>
    <key>btnDangNhap1111Copy5</key>
    <dict>
      <key>frame</key><string>{{496,328},{155,47}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{155,47}}</string>
      <key>sourceSize</key><string>{155,47}</string>
    </dict>
    <key>btnDangNhap111Copy5</key>
    <dict>
      <key>frame</key><string>{{696,328},{155,47}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{155,47}}</string>
      <key>sourceSize</key><string>{155,47}</string>
    </dict>
    <key>btnDangNhap111Copy4</key>
    <dict>
      <key>frame</key><string>{{646,328},{155,47}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{155,47}}</string>
      <key>sourceSize</key><string>{155,47}</string>
    </dict>
    <key>icoBack</key>
    <dict>
      <key>frame</key><string>{{1798,433},{36,53}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{36,53}}</string>
      <key>sourceSize</key><string>{36,53}</string>
    </dict>
    <key>boderSettingCopy</key>
    <dict>
      <key>frame</key><string>{{414,2},{324,34}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{324,34}}</string>
      <key>sourceSize</key><string>{324,34}</string>
    </dict>
    <key>iconVip</key>
    <dict>
      <key>frame</key><string>{{2,447},{49,38}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{49,38}}</string>
      <key>sourceSize</key><string>{49,38}</string>
    </dict>
    <key>Chip_100M</key>
    <dict>
      <key>frame</key><string>{{1620,344},{86,90}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{86,90}}</string>
      <key>sourceSize</key><string>{86,90}</string>
    </dict>
    <key>buttonGui</key>
    <dict>
      <key>frame</key><string>{{1376,286},{60,34}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{60,34}}</string>
      <key>sourceSize</key><string>{60,34}</string>
    </dict>
    <key>btn xem thong ke</key>
    <dict>
      <key>frame</key><string>{{846,328},{154,54}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{154,54}}</string>
      <key>sourceSize</key><string>{154,54}</string>
    </dict>
    <key>Chip_10M_dup3</key>
    <dict>
      <key>frame</key><string>{{1798,344},{86,90}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{86,90}}</string>
      <key>sourceSize</key><string>{86,90}</string>
    </dict>
    <key>4 red_dup3</key>
    <dict>
      <key>frame</key><string>{{1732,437},{36,37}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{36,37}}</string>
      <key>sourceSize</key><string>{36,37}</string>
    </dict>
    <key>Chip_10M</key>
    <dict>
      <key>frame</key><string>{{1798,344},{86,90}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{86,90}}</string>
      <key>sourceSize</key><string>{86,90}</string>
    </dict>
    <key>4 red</key>
    <dict>
      <key>frame</key><string>{{1732,437},{36,37}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{36,37}}</string>
      <key>sourceSize</key><string>{36,37}</string>
    </dict>
  </dict>
  <key>metadata</key>
  <dict>
    <key>format</key><integer>2</integer>
    <key>realTextureFileName</key><string>atlas_80971fb1.png</string>
    <key>size</key><string>{1901,489}</string>
    <key>textureFileName</key><string>atlas_80971fb1.png</string>
  </dict>
</dict>
</plist>
