<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,64}</string>
                <key>spriteSourceSize</key>
                <string>{143,64}</string>
                <key>textureRect</key>
                <string>{{0,337},{143,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_khungtien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,36}</string>
                <key>spriteSourceSize</key>
                <string>{58,36}</string>
                <key>textureRect</key>
                <string>{{133,0},{58,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_OTPTele.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,30}</string>
                <key>spriteSourceSize</key>
                <string>{133,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{133,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_baomat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,84}</string>
                <key>spriteSourceSize</key>
                <string>{90,84}</string>
                <key>textureRect</key>
                <string>{{100,563},{90,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_catdat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,37}</string>
                <key>spriteSourceSize</key>
                <string>{124,37}</string>
                <key>textureRect</key>
                <string>{{124,36},{124,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_chon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{0,73},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_chuyentien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,92}</string>
                <key>spriteSourceSize</key>
                <string>{127,92}</string>
                <key>textureRect</key>
                <string>{{80,647},{127,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_congdong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,80}</string>
                <key>textureRect</key>
                <string>{{91,483},{120,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,77}</string>
                <key>spriteSourceSize</key>
                <string>{74,77}</string>
                <key>textureRect</key>
                <string>{{88,406},{74,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_homthu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,72}</string>
                <key>spriteSourceSize</key>
                <string>{88,72}</string>
                <key>textureRect</key>
                <string>{{0,406},{88,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_hotro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,82}</string>
                <key>textureRect</key>
                <string>{{0,563},{100,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_ketsat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,69}</string>
                <key>spriteSourceSize</key>
                <string>{79,69}</string>
                <key>textureRect</key>
                <string>{{143,337},{79,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_lichsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,36}</string>
                <key>spriteSourceSize</key>
                <string>{124,36}</string>
                <key>textureRect</key>
                <string>{{0,36},{124,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,77}</string>
                <key>spriteSourceSize</key>
                <string>{79,77}</string>
                <key>textureRect</key>
                <string>{{162,406},{79,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_sukien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,89}</string>
                <key>spriteSourceSize</key>
                <string>{80,89}</string>
                <key>textureRect</key>
                <string>{{0,647},{80,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_vipoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,78}</string>
                <key>spriteSourceSize</key>
                <string>{91,78}</string>
                <key>textureRect</key>
                <string>{{0,483},{91,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag_at_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,44}</string>
                <key>spriteSourceSize</key>
                <string>{138,44}</string>
                <key>textureRect</key>
                <string>{{39,73},{138,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_tab_cacuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,44}</string>
                <key>spriteSourceSize</key>
                <string>{138,44}</string>
                <key>textureRect</key>
                <string>{{0,117},{138,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_tab_gamebai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,44}</string>
                <key>spriteSourceSize</key>
                <string>{138,44}</string>
                <key>textureRect</key>
                <string>{{0,161},{138,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_tab_minigame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,44}</string>
                <key>spriteSourceSize</key>
                <string>{138,44}</string>
                <key>textureRect</key>
                <string>{{0,205},{138,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_tab_slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,44}</string>
                <key>spriteSourceSize</key>
                <string>{138,44}</string>
                <key>textureRect</key>
                <string>{{0,249},{138,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_tab_tatca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,44}</string>
                <key>spriteSourceSize</key>
                <string>{138,44}</string>
                <key>textureRect</key>
                <string>{{0,293},{138,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ic_lobby.png</string>
            <key>size</key>
            <string>{248,739}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a72ed96a16756b4b07416e4f4257fcf:d632b40ba737d0ede657b67e04749142:7dc0b38b9db890d27073c941d9fb4c15$</string>
            <key>textureFileName</key>
            <string>ic_lobby.png</string>
        </dict>
    </dict>
</plist>
