<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_minigame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,483}</string>
                <key>spriteSourceSize</key>
                <string>{482,483}</string>
                <key>textureRect</key>
                <string>{{0,0},{482,483}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_baucua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{0,483},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_minipoker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{122,483},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_santrung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{244,483},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_sieuxe2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{0,605},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_taixiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{122,605},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_xoso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{244,605},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>minigame.png</string>
            <key>size</key>
            <string>{482,727}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af74350573f0b0c0cbd8fcfcfb999527:ed73d03b2153d8da24cd65d773d9171f:15b440b58c832a7707420f931758c116$</string>
            <key>textureFileName</key>
            <string>minigame.png</string>
        </dict>
    </dict>
</plist>
