<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>frames</key>
  <dict>
    <key>icCardback_dup2</key>
    <dict>
      <key>frame</key><string>{{945,485},{114,157}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{114,157}}</string>
      <key>sourceSize</key><string>{114,157}</string>
    </dict>
    <key>icCard1A</key>
    <dict>
      <key>frame</key><string>{{828,2},{114,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{114,158}}</string>
      <key>sourceSize</key><string>{114,158}</string>
    </dict>
    <key>icCardEmpty</key>
    <dict>
      <key>frame</key><string>{{947,645},{110,144}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{110,144}}</string>
      <key>sourceSize</key><string>{110,144}</string>
    </dict>
    <key>icCard6D</key>
    <dict>
      <key>frame</key><string>{{592,163},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard7C</key>
    <dict>
      <key>frame</key><string>{{592,485},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard6C</key>
    <dict>
      <key>frame</key><string>{{592,2},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard8C</key>
    <dict>
      <key>frame</key><string>{{710,163},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard11B</key>
    <dict>
      <key>frame</key><string>{{120,485},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard2A</key>
    <dict>
      <key>frame</key><string>{{828,163},{114,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{114,158}}</string>
      <key>sourceSize</key><string>{114,158}</string>
    </dict>
    <key>icCard4D</key>
    <dict>
      <key>frame</key><string>{{474,163},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard1D</key>
    <dict>
      <key>frame</key><string>{{356,2},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard2D</key>
    <dict>
      <key>frame</key><string>{{356,485},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard5B</key>
    <dict>
      <key>frame</key><string>{{474,324},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard10A</key>
    <dict>
      <key>frame</key><string>{{2,811},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard13D</key>
    <dict>
      <key>frame</key><string>{{2,488},{115,159}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,159}}</string>
      <key>sourceSize</key><string>{115,159}</string>
    </dict>
    <key>icCard6A</key>
    <dict>
      <key>frame</key><string>{{945,2},{114,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{114,158}}</string>
      <key>sourceSize</key><string>{114,158}</string>
    </dict>
    <key>icCard7D</key>
    <dict>
      <key>frame</key><string>{{594,646},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard5A</key>
    <dict>
      <key>frame</key><string>{{946,807},{114,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{114,158}}</string>
      <key>sourceSize</key><string>{114,158}</string>
    </dict>
    <key>icCard4A</key>
    <dict>
      <key>frame</key><string>{{828,485},{114,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{114,158}}</string>
      <key>sourceSize</key><string>{114,158}</string>
    </dict>
    <key>icCard9D</key>
    <dict>
      <key>frame</key><string>{{828,807},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard3B</key>
    <dict>
      <key>frame</key><string>{{358,646},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard8D</key>
    <dict>
      <key>frame</key><string>{{945,324},{114,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{114,158}}</string>
      <key>sourceSize</key><string>{114,158}</string>
    </dict>
    <key>icCard10D</key>
    <dict>
      <key>frame</key><string>{{120,163},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard3D</key>
    <dict>
      <key>frame</key><string>{{474,2},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard6B</key>
    <dict>
      <key>frame</key><string>{{592,807},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard12B</key>
    <dict>
      <key>frame</key><string>{{238,163},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard10B</key>
    <dict>
      <key>frame</key><string>{{120,811},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard11D</key>
    <dict>
      <key>frame</key><string>{{238,807},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard8A</key>
    <dict>
      <key>frame</key><string>{{710,807},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard10C</key>
    <dict>
      <key>frame</key><string>{{120,2},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard13B</key>
    <dict>
      <key>frame</key><string>{{2,164},{115,159}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,159}}</string>
      <key>sourceSize</key><string>{115,159}</string>
    </dict>
    <key>icCard7A</key>
    <dict>
      <key>frame</key><string>{{945,163},{114,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{114,158}}</string>
      <key>sourceSize</key><string>{114,158}</string>
    </dict>
    <key>icCard9A</key>
    <dict>
      <key>frame</key><string>{{710,324},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard2C</key>
    <dict>
      <key>frame</key><string>{{356,324},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard4C</key>
    <dict>
      <key>frame</key><string>{{2,650},{117,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{117,158}}</string>
      <key>sourceSize</key><string>{117,158}</string>
    </dict>
    <key>icCard9C</key>
    <dict>
      <key>frame</key><string>{{712,646},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard12C</key>
    <dict>
      <key>frame</key><string>{{238,324},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard3C</key>
    <dict>
      <key>frame</key><string>{{474,807},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard11C</key>
    <dict>
      <key>frame</key><string>{{122,646},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard5D</key>
    <dict>
      <key>frame</key><string>{{476,646},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard1C</key>
    <dict>
      <key>frame</key><string>{{356,807},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard5C</key>
    <dict>
      <key>frame</key><string>{{474,485},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard12D</key>
    <dict>
      <key>frame</key><string>{{238,485},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard2B</key>
    <dict>
      <key>frame</key><string>{{356,163},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard7B</key>
    <dict>
      <key>frame</key><string>{{592,324},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard12A</key>
    <dict>
      <key>frame</key><string>{{238,2},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard11A</key>
    <dict>
      <key>frame</key><string>{{120,324},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard9B</key>
    <dict>
      <key>frame</key><string>{{710,485},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard3A</key>
    <dict>
      <key>frame</key><string>{{828,324},{114,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{114,158}}</string>
      <key>sourceSize</key><string>{114,158}</string>
    </dict>
    <key>icCard13C</key>
    <dict>
      <key>frame</key><string>{{2,326},{115,159}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,159}}</string>
      <key>sourceSize</key><string>{115,159}</string>
    </dict>
    <key>icCard8B</key>
    <dict>
      <key>frame</key><string>{{710,2},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCard13A</key>
    <dict>
      <key>frame</key><string>{{2,2},{115,159}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,159}}</string>
      <key>sourceSize</key><string>{115,159}</string>
    </dict>
    <key>icCard4B</key>
    <dict>
      <key>frame</key><string>{{830,646},{114,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{114,158}}</string>
      <key>sourceSize</key><string>{114,158}</string>
    </dict>
    <key>icCard1B</key>
    <dict>
      <key>frame</key><string>{{240,646},{115,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{115,158}}</string>
      <key>sourceSize</key><string>{115,158}</string>
    </dict>
    <key>icCardback_dup3</key>
    <dict>
      <key>frame</key><string>{{945,485},{114,157}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{114,157}}</string>
      <key>sourceSize</key><string>{114,157}</string>
    </dict>
    <key>icCardback</key>
    <dict>
      <key>frame</key><string>{{945,485},{114,157}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{114,157}}</string>
      <key>sourceSize</key><string>{114,157}</string>
    </dict>
  </dict>
  <key>metadata</key>
  <dict>
    <key>format</key><integer>2</integer>
    <key>realTextureFileName</key><string>atlas_1c6a6bd1.png</string>
    <key>size</key><string>{1062,971}</string>
    <key>textureFileName</key><string>atlas_1c6a6bd1.png</string>
  </dict>
</dict>
</plist>
