<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>frames</key>
  <dict>
    <key>btnCommon1</key>
    <dict>
      <key>frame</key><string>{{588,1309},{216,62}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{216,62}}</string>
      <key>sourceSize</key><string>{216,62}</string>
    </dict>
    <key>Myriad_Regular_Gradient</key>
    <dict>
      <key>frame</key><string>{{430,1552},{381,385}}</string>
      <key>offset</key><string>{-0.5,0.5}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{381,385}}</string>
      <key>sourceSize</key><string>{382,386}</string>
    </dict>
    <key>btnCommon3</key>
    <dict>
      <key>frame</key><string>{{595,1191},{216,62}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{216,62}}</string>
      <key>sourceSize</key><string>{216,62}</string>
    </dict>
    <key>Myriad_Semibold_Gradient</key>
    <dict>
      <key>frame</key><string>{{33,1552},{391,392}}</string>
      <key>offset</key><string>{-0.5,0.5}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{391,392}}</string>
      <key>sourceSize</key><string>{392,393}</string>
    </dict>
    <key>iconArrowRightEnable</key>
    <dict>
      <key>frame</key><string>{{595,767},{24,39}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{24,39}}</string>
      <key>sourceSize</key><string>{24,39}</string>
    </dict>
    <key>btnCommon2</key>
    <dict>
      <key>frame</key><string>{{588,1377},{216,62}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{216,62}}</string>
      <key>sourceSize</key><string>{216,62}</string>
    </dict>
    <key>iconNoneBank</key>
    <dict>
      <key>frame</key><string>{{625,774},{128,123}}</string>
      <key>offset</key><string>{7.5,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{128,123}}</string>
      <key>sourceSize</key><string>{161,163}</string>
    </dict>
    <key>frameQR</key>
    <dict>
      <key>frame</key><string>{{595,937},{248,220}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{248,220}}</string>
      <key>sourceSize</key><string>{248,220}</string>
    </dict>
    <key>btnSell</key>
    <dict>
      <key>frame</key><string>{{157,1495},{123,44}}</string>
      <key>offset</key><string>{0.5,0.5}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{123,44}}</string>
      <key>sourceSize</key><string>{124,45}</string>
    </dict>
    <key>menhGiaSelected</key>
    <dict>
      <key>frame</key><string>{{772,508},{20,19}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{20,19}}</string>
      <key>sourceSize</key><string>{20,19}</string>
    </dict>
    <key>btnSellFastDisable</key>
    <dict>
      <key>frame</key><string>{{630,325},{160,44}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{160,44}}</string>
      <key>sourceSize</key><string>{160,44}</string>
    </dict>
    <key>iconCancelOrder</key>
    <dict>
      <key>frame</key><string>{{630,425},{201,136}}</string>
      <key>offset</key><string>{-0.5,0.5}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{201,136}}</string>
      <key>sourceSize</key><string>{202,137}</string>
    </dict>
    <key>edbBG1</key>
    <dict>
      <key>frame</key><string>{{286,1495},{53,44}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{53,44}}</string>
      <key>sourceSize</key><string>{53,44}</string>
    </dict>
    <key>iconUploadDone</key>
    <dict>
      <key>frame</key><string>{{734,903},{19,19}}</string>
      <key>offset</key><string>{-0.5,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{19,19}}</string>
      <key>sourceSize</key><string>{20,19}</string>
    </dict>
    <key>frameBorder1</key>
    <dict>
      <key>frame</key><string>{{799,239},{10,11}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{10,11}}</string>
      <key>sourceSize</key><string>{10,11}</string>
    </dict>
    <key>btnDeactiveCommon</key>
    <dict>
      <key>frame</key><string>{{441,1466},{124,42}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{124,42}}</string>
      <key>sourceSize</key><string>{124,42}</string>
    </dict>
    <key>iconUpload</key>
    <dict>
      <key>frame</key><string>{{595,692},{25,24}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{25,24}}</string>
      <key>sourceSize</key><string>{25,24}</string>
    </dict>
    <key>rectangle3</key>
    <dict>
      <key>frame</key><string>{{772,480},{20,22}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{20,22}}</string>
      <key>sourceSize</key><string>{20,22}</string>
    </dict>
    <key>frameBorder4</key>
    <dict>
      <key>frame</key><string>{{709,1445},{107,101}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{107,101}}</string>
      <key>sourceSize</key><string>{107,101}</string>
    </dict>
    <key>bankDropDownBG</key>
    <dict>
      <key>frame</key><string>{{768,711},{45,220}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{45,220}}</string>
      <key>sourceSize</key><string>{45,220}</string>
    </dict>
    <key>iconKyc</key>
    <dict>
      <key>frame</key><string>{{772,449},{25,20}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{25,20}}</string>
      <key>sourceSize</key><string>{25,20}</string>
    </dict>
    <key>iconArrowRightDisable</key>
    <dict>
      <key>frame</key><string>{{595,722},{24,39}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{24,39}}</string>
      <key>sourceSize</key><string>{24,39}</string>
    </dict>
    <key>btnBuy</key>
    <dict>
      <key>frame</key><string>{{579,1445},{124,44}}</string>
      <key>offset</key><string>{0,-0.5}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{124,44}}</string>
      <key>sourceSize</key><string>{124,45}</string>
    </dict>
    <key>notiDotWarning</key>
    <dict>
      <key>frame</key><string>{{772,549},{34,34}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{34,34}}</string>
      <key>sourceSize</key><string>{34,34}</string>
    </dict>
    <key>iconCopy</key>
    <dict>
      <key>frame</key><string>{{772,629},{32,33}}</string>
      <key>offset</key><string>{-0.5,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{32,33}}</string>
      <key>sourceSize</key><string>{33,33}</string>
    </dict>
    <key>menhGiaDefault</key>
    <dict>
      <key>frame</key><string>{{654,903},{19,20}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{19,20}}</string>
      <key>sourceSize</key><string>{19,20}</string>
    </dict>
    <key>btnBack</key>
    <dict>
      <key>frame</key><string>{{33,1466},{80,44}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{80,44}}</string>
      <key>sourceSize</key><string>{80,44}</string>
    </dict>
    <key>loading_in</key>
    <dict>
      <key>frame</key><string>{{3,2016},{30,19}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{30,19}}</string>
      <key>sourceSize</key><string>{30,19}</string>
    </dict>
    <key>myriadProBold_fnt</key>
    <dict>
      <key>frame</key><string>{{3,29},{615,621}}</string>
      <key>offset</key><string>{-2.5,2.5}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{615,621}}</string>
      <key>sourceSize</key><string>{620,626}</string>
    </dict>
    <key>frameBorder5</key>
    <dict>
      <key>frame</key><string>{{772,425},{21,18}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{21,18}}</string>
      <key>sourceSize</key><string>{21,18}</string>
    </dict>
    <key>whiteSquare</key>
    <dict>
      <key>frame</key><string>{{812,255},{3,3}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{3,3}}</string>
      <key>sourceSize</key><string>{3,3}</string>
    </dict>
    <key>btnSellFast</key>
    <dict>
      <key>frame</key><string>{{630,54},{179,45}}</string>
      <key>offset</key><string>{0.5,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{179,45}}</string>
      <key>sourceSize</key><string>{180,45}</string>
    </dict>
    <key>iconKCoin</key>
    <dict>
      <key>frame</key><string>{{799,105},{58,17}}</string>
      <key>offset</key><string>{0,-0.5}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{58,17}}</string>
      <key>sourceSize</key><string>{58,18}</string>
    </dict>
    <key>checkBox</key>
    <dict>
      <key>frame</key><string>{{768,667},{38,38}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{38,38}}</string>
      <key>sourceSize</key><string>{38,38}</string>
    </dict>
    <key>bgPoppup</key>
    <dict>
      <key>frame</key><string>{{33,1950},{58,75}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{58,75}}</string>
      <key>sourceSize</key><string>{58,75}</string>
    </dict>
    <key>borderUpload</key>
    <dict>
      <key>frame</key><string>{{588,1259},{223,44}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{223,44}}</string>
      <key>sourceSize</key><string>{223,44}</string>
    </dict>
    <key>iconTrash</key>
    <dict>
      <key>frame</key><string>{{595,902},{23,24}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{23,24}}</string>
      <key>sourceSize</key><string>{25,24}</string>
    </dict>
    <key>tipDisplay</key>
    <dict>
      <key>frame</key><string>{{3,1378},{570,82}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{570,82}}</string>
      <key>sourceSize</key><string>{570,82}</string>
    </dict>
    <key>frameBorder3</key>
    <dict>
      <key>frame</key><string>{{799,169},{15,64}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{15,64}}</string>
      <key>sourceSize</key><string>{15,64}</string>
    </dict>
    <key>common_button1</key>
    <dict>
      <key>frame</key><string>{{590,1939},{104,70}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{104,70}}</string>
      <key>sourceSize</key><string>{104,70}</string>
    </dict>
    <key>lineDivider2</key>
    <dict>
      <key>frame</key><string>{{799,268},{275,2}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{275,2}}</string>
      <key>sourceSize</key><string>{275,2}</string>
    </dict>
    <key>btnActiveCommon</key>
    <dict>
      <key>frame</key><string>{{571,1495},{124,42}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{124,42}}</string>
      <key>sourceSize</key><string>{124,42}</string>
    </dict>
    <key>onlineLabel</key>
    <dict>
      <key>frame</key><string>{{679,903},{49,19}}</string>
      <key>offset</key><string>{0,0.5}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{49,19}}</string>
      <key>sourceSize</key><string>{49,20}</string>
    </dict>
    <key>tabMenu</key>
    <dict>
      <key>frame</key><string>{{114,1950},{309,52}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{309,52}}</string>
      <key>sourceSize</key><string>{309,52}</string>
    </dict>
    <key>btnBuyFastDisable</key>
    <dict>
      <key>frame</key><string>{{630,375},{160,44}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{160,44}}</string>
      <key>sourceSize</key><string>{160,44}</string>
    </dict>
    <key>btnDetailt</key>
    <dict>
      <key>frame</key><string>{{625,728},{130,40}}</string>
      <key>offset</key><string>{0,0.5}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{130,40}}</string>
      <key>sourceSize</key><string>{130,41}</string>
    </dict>
    <key>iconNoTransaction</key>
    <dict>
      <key>frame</key><string>{{345,1466},{90,72}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{90,72}}</string>
      <key>sourceSize</key><string>{90,72}</string>
    </dict>
    <key>frameBorder2</key>
    <dict>
      <key>frame</key><string>{{625,903},{24,23}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{24,23}}</string>
      <key>sourceSize</key><string>{24,23}</string>
    </dict>
    <key>titleGuideNapP2P</key>
    <dict>
      <key>frame</key><string>{{3,1466},{544,24}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{544,24}}</string>
      <key>sourceSize</key><string>{544,24}</string>
    </dict>
    <key>iconWattingSellerConfirm</key>
    <dict>
      <key>frame</key><string>{{630,105},{214,163}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{214,163}}</string>
      <key>sourceSize</key><string>{214,163}</string>
    </dict>
    <key>btnDropdown</key>
    <dict>
      <key>frame</key><string>{{107,1495},{44,45}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{44,45}}</string>
      <key>sourceSize</key><string>{44,45}</string>
    </dict>
    <key>titleGuideRutP2p</key>
    <dict>
      <key>frame</key><string>{{3,3},{622,20}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{622,20}}</string>
      <key>sourceSize</key><string>{622,20}</string>
    </dict>
    <key>loading_bg</key>
    <dict>
      <key>frame</key><string>{{630,632},{90,132}}</string>
      <key>offset</key><string>{0,1}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{90,132}}</string>
      <key>sourceSize</key><string>{90,134}</string>
    </dict>
    <key>btnHistory</key>
    <dict>
      <key>frame</key><string>{{542,1939},{106,42}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{106,42}}</string>
      <key>sourceSize</key><string>{106,42}</string>
    </dict>
    <key>iconImageUpload</key>
    <dict>
      <key>frame</key><string>{{430,1939},{106,106}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{106,106}}</string>
      <key>sourceSize</key><string>{106,106}</string>
    </dict>
    <key>iconArrowLeftEnable</key>
    <dict>
      <key>frame</key><string>{{595,812},{24,39}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{24,39}}</string>
      <key>sourceSize</key><string>{24,39}</string>
    </dict>
    <key>checkBoxTick</key>
    <dict>
      <key>frame</key><string>{{595,650},{36,29}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{36,29}}</string>
      <key>sourceSize</key><string>{36,29}</string>
    </dict>
    <key>iconDot</key>
    <dict>
      <key>frame</key><string>{{799,255},{7,7}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{7,7}}</string>
      <key>sourceSize</key><string>{7,7}</string>
    </dict>
    <key>offlineLabel</key>
    <dict>
      <key>frame</key><string>{{83,1495},{49,18}}</string>
      <key>offset</key><string>{0,0.5}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{49,18}}</string>
      <key>sourceSize</key><string>{49,19}</string>
    </dict>
    <key>iconComplete</key>
    <dict>
      <key>frame</key><string>{{666,1939},{65,64}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{65,64}}</string>
      <key>sourceSize</key><string>{65,64}</string>
    </dict>
    <key>btnBuyFast</key>
    <dict>
      <key>frame</key><string>{{631,3},{180,45}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{180,45}}</string>
      <key>sourceSize</key><string>{180,45}</string>
    </dict>
    <key>iconArrowLeftDisable</key>
    <dict>
      <key>frame</key><string>{{595,857},{24,39}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{24,39}}</string>
      <key>sourceSize</key><string>{24,39}</string>
    </dict>
    <key>notiDotLSGD</key>
    <dict>
      <key>frame</key><string>{{772,589},{34,34}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{34,34}}</string>
      <key>sourceSize</key><string>{34,34}</string>
    </dict>
    <key>lineDivider1</key>
    <dict>
      <key>frame</key><string>{{812,264},{2,412}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{2,412}}</string>
      <key>sourceSize</key><string>{2,412}</string>
    </dict>
    <key>frameTipUpload</key>
    <dict>
      <key>frame</key><string>{{3,1242},{579,130}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{579,130}}</string>
      <key>sourceSize</key><string>{579,130}</string>
    </dict>
    <key>myriadPro_fnt</key>
    <dict>
      <key>frame</key><string>{{3,650},{586,586}}</string>
      <key>offset</key><string>{-2.5,2.5}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{586,586}}</string>
      <key>sourceSize</key><string>{591,591}</string>
    </dict>
    <key>notiDotWarning</key>
    <dict>
      <key>frame</key><string>{{772,549},{34,34}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{34,34}}</string>
      <key>sourceSize</key><string>{34,34}</string>
    </dict>
  </dict>
  <key>metadata</key>
  <dict>
    <key>format</key><integer>2</integer>
    <key>realTextureFileName</key><string>atlas_147cd3b0.png</string>
    <key>size</key><string>{819,2048}</string>
    <key>textureFileName</key><string>atlas_147cd3b0.png</string>
  </dict>
</dict>
</plist>
