<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>frames</key>
  <dict>
    <key>Button_Xem_Hold_dup2</key>
    <dict>
      <key>frame</key><string>{{0,318},{207,73}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{207,73}}</string>
      <key>sourceSize</key><string>{207,73}</string>
    </dict>
    <key>Button_TheoHet</key>
    <dict>
      <key>frame</key><string>{{0,535},{207,72}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{207,72}}</string>
      <key>sourceSize</key><string>{207,72}</string>
    </dict>
    <key>Button_Xem</key>
    <dict>
      <key>frame</key><string>{{0,245},{207,73}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{207,73}}</string>
      <key>sourceSize</key><string>{207,73}</string>
    </dict>
    <key>Button_Xem-Up</key>
    <dict>
      <key>frame</key><string>{{0,173},{207,72}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{207,72}}</string>
      <key>sourceSize</key><string>{207,72}</string>
    </dict>
    <key>Button_To_Hold</key>
    <dict>
      <key>frame</key><string>{{0,753},{207,72}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{207,72}}</string>
      <key>sourceSize</key><string>{207,72}</string>
    </dict>
    <key>Button_Theo_Hold</key>
    <dict>
      <key>frame</key><string>{{0,680},{207,73}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{207,73}}</string>
      <key>sourceSize</key><string>{207,73}</string>
    </dict>
    <key>Button_Up_Hold</key>
    <dict>
      <key>frame</key><string>{{0,391},{207,72}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{207,72}}</string>
      <key>sourceSize</key><string>{207,72}</string>
    </dict>
    <key>Button_To</key>
    <dict>
      <key>frame</key><string>{{0,825},{207,72}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{207,72}}</string>
      <key>sourceSize</key><string>{207,72}</string>
    </dict>
    <key>Button_Up</key>
    <dict>
      <key>frame</key><string>{{0,463},{207,72}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{207,72}}</string>
      <key>sourceSize</key><string>{207,72}</string>
    </dict>
    <key>Button_RutTien</key>
    <dict>
      <key>frame</key><string>{{0,44},{129,129}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{129,129}}</string>
      <key>sourceSize</key><string>{129,129}</string>
    </dict>
    <key>DauCheck</key>
    <dict>
      <key>frame</key><string>{{0,0},{44,38}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{44,38}}</string>
      <key>sourceSize</key><string>{44,38}</string>
    </dict>
    <key>Button_Theo</key>
    <dict>
      <key>frame</key><string>{{0,607},{207,73}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{207,73}}</string>
      <key>sourceSize</key><string>{207,73}</string>
    </dict>
    <key>Button_All In</key>
    <dict>
      <key>frame</key><string>{{44,0},{121,44}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{121,44}}</string>
      <key>sourceSize</key><string>{121,44}</string>
    </dict>
    <key>Button_Xem_Hold_dup3</key>
    <dict>
      <key>frame</key><string>{{0,318},{207,73}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{207,73}}</string>
      <key>sourceSize</key><string>{207,73}</string>
    </dict>
    <key>Button_Xem_Hold_dup4</key>
    <dict>
      <key>frame</key><string>{{0,318},{207,73}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{207,73}}</string>
      <key>sourceSize</key><string>{207,73}</string>
    </dict>
    <key>Button_Xem_Hold_dup5</key>
    <dict>
      <key>frame</key><string>{{0,318},{207,73}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{207,73}}</string>
      <key>sourceSize</key><string>{207,73}</string>
    </dict>
    <key>Button_Xem_Hold</key>
    <dict>
      <key>frame</key><string>{{0,318},{207,73}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{207,73}}</string>
      <key>sourceSize</key><string>{207,73}</string>
    </dict>
  </dict>
  <key>metadata</key>
  <dict>
    <key>format</key><integer>2</integer>
    <key>realTextureFileName</key><string>atlas_0e43b17e.png</string>
    <key>size</key><string>{207,897}</string>
    <key>textureFileName</key><string>atlas_0e43b17e.png</string>
  </dict>
</dict>
</plist>
