<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>frames</key>
  <dict>
    <key>ToggleHandler</key>
    <dict>
      <key>frame</key><string>{{499,364},{100,46}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{100,46}}</string>
      <key>sourceSize</key><string>{100,46}</string>
    </dict>
    <key>whiteSquare</key>
    <dict>
      <key>frame</key><string>{{557,78},{3,3}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{3,3}}</string>
      <key>sourceSize</key><string>{3,3}</string>
    </dict>
    <key>CloseButton</key>
    <dict>
      <key>frame</key><string>{{499,265},{93,48}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{93,48}}</string>
      <key>sourceSize</key><string>{93,48}</string>
    </dict>
    <key>frame_highlightSetting</key>
    <dict>
      <key>frame</key><string>{{3,844},{93,74}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{93,74}}</string>
      <key>sourceSize</key><string>{93,74}</string>
    </dict>
    <key>Panel_Inner</key>
    <dict>
      <key>frame</key><string>{{499,470},{46,46}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{46,46}}</string>
      <key>sourceSize</key><string>{46,46}</string>
    </dict>
    <key>Toggle_OnOff</key>
    <dict>
      <key>frame</key><string>{{499,78},{181,52}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{181,52}}</string>
      <key>sourceSize</key><string>{181,52}</string>
    </dict>
    <key>IconButtonFAQ</key>
    <dict>
      <key>frame</key><string>{{499,522},{35,34}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{35,34}}</string>
      <key>sourceSize</key><string>{35,34}</string>
    </dict>
    <key>BG</key>
    <dict>
      <key>frame</key><string>{{3,78},{760,490}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceColorRect</key><string>{{0,0},{760,490}}</string>
      <key>sourceSize</key><string>{760,490}</string>
    </dict>
    <key>Panel_Header</key>
    <dict>
      <key>frame</key><string>{{3,3},{563,69}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceColorRect</key><string>{{0,0},{563,69}}</string>
      <key>sourceSize</key><string>{563,69}</string>
    </dict>
  </dict>
  <key>metadata</key>
  <dict>
    <key>format</key><integer>2</integer>
    <key>realTextureFileName</key><string>atlas_16db3ca3.png</string>
    <key>size</key><string>{569,940}</string>
    <key>textureFileName</key><string>atlas_16db3ca3.png</string>
  </dict>
</dict>
</plist>
