<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>frames</key>
  <dict>
    <key>Avatar0</key>
    <dict>
      <key>frame</key><string>{{2,371},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar1</key>
    <dict>
      <key>frame</key><string>{{201,60},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar10</key>
    <dict>
      <key>frame</key><string>{{2,468},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar11</key>
    <dict>
      <key>frame</key><string>{{2,565},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar12</key>
    <dict>
      <key>frame</key><string>{{2,662},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar13</key>
    <dict>
      <key>frame</key><string>{{2,759},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar14</key>
    <dict>
      <key>frame</key><string>{{2,856},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar15</key>
    <dict>
      <key>frame</key><string>{{2,953},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar16</key>
    <dict>
      <key>frame</key><string>{{2,1050},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar17</key>
    <dict>
      <key>frame</key><string>{{2,1147},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar18</key>
    <dict>
      <key>frame</key><string>{{2,1244},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar19</key>
    <dict>
      <key>frame</key><string>{{100,371},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar2</key>
    <dict>
      <key>frame</key><string>{{100,469},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar20</key>
    <dict>
      <key>frame</key><string>{{100,567},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar21</key>
    <dict>
      <key>frame</key><string>{{100,665},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar22</key>
    <dict>
      <key>frame</key><string>{{100,763},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar23</key>
    <dict>
      <key>frame</key><string>{{100,861},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar24</key>
    <dict>
      <key>frame</key><string>{{100,959},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar25</key>
    <dict>
      <key>frame</key><string>{{100,1057},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar26</key>
    <dict>
      <key>frame</key><string>{{100,1155},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar27</key>
    <dict>
      <key>frame</key><string>{{100,1253},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar28</key>
    <dict>
      <key>frame</key><string>{{357,2},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar29</key>
    <dict>
      <key>frame</key><string>{{201,157},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar3</key>
    <dict>
      <key>frame</key><string>{{172,254},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar30</key>
    <dict>
      <key>frame</key><string>{{197,351},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar31</key>
    <dict>
      <key>frame</key><string>{{197,449},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar32</key>
    <dict>
      <key>frame</key><string>{{197,547},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar33</key>
    <dict>
      <key>frame</key><string>{{197,645},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar34</key>
    <dict>
      <key>frame</key><string>{{197,743},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar35</key>
    <dict>
      <key>frame</key><string>{{197,841},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar36</key>
    <dict>
      <key>frame</key><string>{{197,939},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar37</key>
    <dict>
      <key>frame</key><string>{{197,1037},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar38</key>
    <dict>
      <key>frame</key><string>{{197,1135},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar39</key>
    <dict>
      <key>frame</key><string>{{198,1233},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar4</key>
    <dict>
      <key>frame</key><string>{{198,1331},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar40</key>
    <dict>
      <key>frame</key><string>{{270,254},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar41</key>
    <dict>
      <key>frame</key><string>{{294,351},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar42</key>
    <dict>
      <key>frame</key><string>{{294,449},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar43</key>
    <dict>
      <key>frame</key><string>{{294,547},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar44</key>
    <dict>
      <key>frame</key><string>{{294,645},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar45</key>
    <dict>
      <key>frame</key><string>{{294,743},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar46</key>
    <dict>
      <key>frame</key><string>{{294,841},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar47</key>
    <dict>
      <key>frame</key><string>{{294,939},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar48</key>
    <dict>
      <key>frame</key><string>{{294,1037},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar49</key>
    <dict>
      <key>frame</key><string>{{294,1135},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar5</key>
    <dict>
      <key>frame</key><string>{{295,1233},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar50</key>
    <dict>
      <key>frame</key><string>{{296,1331},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar51</key>
    <dict>
      <key>frame</key><string>{{299,99},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar52</key>
    <dict>
      <key>frame</key><string>{{397,99},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar53</key>
    <dict>
      <key>frame</key><string>{{368,197},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar54</key>
    <dict>
      <key>frame</key><string>{{391,294},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar55</key>
    <dict>
      <key>frame</key><string>{{391,392},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar56</key>
    <dict>
      <key>frame</key><string>{{391,490},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar57</key>
    <dict>
      <key>frame</key><string>{{391,588},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar58</key>
    <dict>
      <key>frame</key><string>{{391,686},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar59</key>
    <dict>
      <key>frame</key><string>{{391,784},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar6</key>
    <dict>
      <key>frame</key><string>{{391,882},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar7</key>
    <dict>
      <key>frame</key><string>{{391,980},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar8</key>
    <dict>
      <key>frame</key><string>{{391,1078},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>Avatar9</key>
    <dict>
      <key>frame</key><string>{{392,1176},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>BB</key>
    <dict>
      <key>frame</key><string>{{440,1372},{42,42}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{42,42}</string>
    </dict>
    <key>D</key>
    <dict>
      <key>frame</key><string>{{62,1350},{42,42}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{42,42}</string>
    </dict>
    <key>SB</key>
    <dict>
      <key>frame</key><string>{{107,1350},{42,42}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{42,42}</string>
    </dict>
    <key>boderAvatar</key>
    <dict>
      <key>frame</key><string>{{2,201},{167,167}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{167,167}</string>
    </dict>
    <key>borderCheck02_2</key>
    <dict>
      <key>frame</key><string>{{394,1372},{43,43}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{43,43}</string>
    </dict>
    <key>btnMoney</key>
    <dict>
      <key>frame</key><string>{{201,2},{153,55}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{153,55}</string>
    </dict>
    <key>efLoadingBar</key>
    <dict>
      <key>frame</key><string>{{2,2},{196,196}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{196,196}</string>
    </dict>
    <key>giaumat</key>
    <dict>
      <key>frame</key><string>{{394,1274},{95,94}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{95,94}</string>
    </dict>
    <key>icCheck02</key>
    <dict>
      <key>frame</key><string>{{152,1350},{39,37}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{39,37}</string>
    </dict>
    <key>icExit</key>
    <dict>
      <key>frame</key><string>{{299,196},{45,50}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{45,50}</string>
    </dict>
    <key>icMasterroom</key>
    <dict>
      <key>frame</key><string>{{2,1341},{57,52}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{57,52}</string>
    </dict>
    <key>icMoney</key>
    <dict>
      <key>frame</key><string>{{172,201},{24,32}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{24,32}</string>
    </dict>
  </dict>
  <key>metadata</key>
  <dict>
    <key>format</key><integer>2</integer>
    <key>realTextureFileName</key><string>atlas_826aa8f8.png</string>
    <key>textureFileName</key><string>atlas_826aa8f8.png</string>
    <key>size</key><string>{493,1427}</string>
  </dict>
</dict>
</plist>
