<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>frames</key>
  <dict>
    <key>1999_TPDD_Banner</key>
    <dict>
      <key>frame</key><string>{{592,2},{290,463}}</string>
      <key>offset</key><string>{-1,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{292,463}</string>
    </dict>
    <key>3997_Baccarat_Icon</key>
    <dict>
      <key>frame</key><string>{{1456,2},{238,240}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>3998_TaiXiu_Banner</key>
    <dict>
      <key>frame</key><string>{{297,934},{290,463}}</string>
      <key>offset</key><string>{-1,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{292,463}</string>
    </dict>
    <key>7792_Chan_Icon</key>
    <dict>
      <key>frame</key><string>{{404,1400},{226,236}}</string>
      <key>offset</key><string>{0,1}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>9968_CungHyPhatTai_Banner</key>
    <dict>
      <key>frame</key><string>{{592,468},{290,463}}</string>
      <key>offset</key><string>{-1,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{292,463}</string>
    </dict>
    <key>9987_NguLong_Banner</key>
    <dict>
      <key>frame</key><string>{{885,2},{290,463}}</string>
      <key>offset</key><string>{-1,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{292,463}</string>
    </dict>
    <key>9991_TuLinh_Banner</key>
    <dict>
      <key>frame</key><string>{{590,934},{290,463}}</string>
      <key>offset</key><string>{-1,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{292,463}</string>
    </dict>
    <key>banner_support247</key>
    <dict>
      <key>frame</key><string>{{2,1400},{256,399}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{256,399}</string>
    </dict>
    <key>bau-cua@2x</key>
    <dict>
      <key>frame</key><string>{{2,2},{292,463}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{292,463}</string>
    </dict>
    <key>baucua-mini@2x</key>
    <dict>
      <key>frame</key><string>{{633,1400},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>catte@2x</key>
    <dict>
      <key>frame</key><string>{{1456,245},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>cayHu</key>
    <dict>
      <key>frame</key><string>{{1629,703},{194,55}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{194,55}</string>
    </dict>
    <key>cayHuCopy</key>
    <dict>
      <key>frame</key><string>{{862,1597},{194,55}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{194,55}</string>
    </dict>
    <key>comingSoomLarge</key>
    <dict>
      <key>frame</key><string>{{1693,245},{255,129}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{255,129}</string>
    </dict>
    <key>comingsoonMini</key>
    <dict>
      <key>frame</key><string>{{1697,2},{187,91}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{187,91}</string>
    </dict>
    <key>hit_TaiXiu_ST</key>
    <dict>
      <key>frame</key><string>{{885,468},{275,431}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{275,431}</string>
    </dict>
    <key>iconNew</key>
    <dict>
      <key>frame</key><string>{{1652,503},{194,55}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{194,55}</string>
    </dict>
    <key>keno@2x</key>
    <dict>
      <key>frame</key><string>{{885,902},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>kim-cuong@2x</key>
    <dict>
      <key>frame</key><string>{{883,1131},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>lichSuCuocTheThao</key>
    <dict>
      <key>frame</key><string>{{1687,700},{71,70}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{71,70}</string>
    </dict>
    <key>lieng@2x</key>
    <dict>
      <key>frame</key><string>{{1122,902},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>live-casino@2x</key>
    <dict>
      <key>frame</key><string>{{2,468},{292,463}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{292,463}</string>
    </dict>
    <key>live</key>
    <dict>
      <key>frame</key><string>{{1710,503},{194,55}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{194,55}</string>
    </dict>
    <key>lo-de@2x</key>
    <dict>
      <key>frame</key><string>{{297,2},{292,463}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{292,463}</string>
    </dict>
    <key>mau-binh@2x</key>
    <dict>
      <key>frame</key><string>{{1112,1139},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>mini-poker@2x</key>
    <dict>
      <key>frame</key><string>{{883,1368},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>number-game@2x</key>
    <dict>
      <key>frame</key><string>{{1120,1368},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>othe-thao@2x</key>
    <dict>
      <key>frame</key><string>{{1178,436},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>phom@2x</key>
    <dict>
      <key>frame</key><string>{{1163,665},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>poker@2x</key>
    <dict>
      <key>frame</key><string>{{1415,474},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>sam@2x</key>
    <dict>
      <key>frame</key><string>{{1392,703},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>sthe-thao@2x</key>
    <dict>
      <key>frame</key><string>{{1351,932},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>thethao</key>
    <dict>
      <key>frame</key><string>{{2,934},{292,463}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{292,463}</string>
    </dict>
    <key>tielenmiennam@2x</key>
    <dict>
      <key>frame</key><string>{{1588,932},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>tien-len-dem-la@2x</key>
    <dict>
      <key>frame</key><string>{{1349,1161},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>tren-duoi@2x</key>
    <dict>
      <key>frame</key><string>{{1578,1161},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>xi-to@2x</key>
    <dict>
      <key>frame</key><string>{{1349,1398},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>xi-zach@2x</key>
    <dict>
      <key>frame</key><string>{{1586,1398},{226,234}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{240,240}</string>
    </dict>
    <key>xoc-dia-livestream@2x</key>
    <dict>
      <key>frame</key><string>{{297,468},{292,463}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{292,463}</string>
    </dict>
    <key>xoc-dia@2x</key>
    <dict>
      <key>frame</key><string>{{1178,2},{275,431}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{275,431}</string>
    </dict>
  </dict>
  <key>metadata</key>
  <dict>
    <key>format</key><integer>2</integer>
    <key>realTextureFileName</key><string>atlas_40dda3cb.png</string>
    <key>textureFileName</key><string>atlas_40dda3cb.png</string>
    <key>size</key><string>{1824,1658}</string>
  </dict>
</dict>
</plist>
