<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>frames</key>
  <dict>
    <key>avatar_Xmas</key>
    <dict>
      <key>frame</key><string>{{1499,434},{146,144}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{146,144}</string>
    </dict>
    <key>banChung</key>
    <dict>
      <key>frame</key><string>{{2,235},{984,75}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{984,75}</string>
    </dict>
    <key>banChung2</key>
    <dict>
      <key>frame</key><string>{{2,313},{984,75}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{984,75}</string>
    </dict>
    <key>banLan</key>
    <dict>
      <key>frame</key><string>{{2,391},{984,75}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{984,75}</string>
    </dict>
    <key>banThuong</key>
    <dict>
      <key>frame</key><string>{{2,547},{986,68}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{986,68}</string>
    </dict>
    <key>boderFooterLeft</key>
    <dict>
      <key>frame</key><string>{{581,618},{405,100}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{405,100}</string>
    </dict>
    <key>boderFooterRight</key>
    <dict>
      <key>frame</key><string>{{576,721},{405,100}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{405,100}</string>
    </dict>
    <key>borderLeft</key>
    <dict>
      <key>frame</key><string>{{1132,140},{203,362}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{203,362}</string>
    </dict>
    <key>borderMask</key>
    <dict>
      <key>frame</key><string>{{2,2},{1192,66}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{1192,66}</string>
    </dict>
    <key>btnChoiNhanhOn</key>
    <dict>
      <key>frame</key><string>{{1415,542},{280,73}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{280,73}</string>
    </dict>
    <key>btnTaoBanOn</key>
    <dict>
      <key>frame</key><string>{{984,739},{284,73}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{284,73}</string>
    </dict>
    <key>header</key>
    <dict>
      <key>frame</key><string>{{2,71},{1107,79}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{1107,79}</string>
    </dict>
    <key>headerGameTo</key>
    <dict>
      <key>frame</key><string>{{2,153},{1107,79}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{1107,79}</string>
    </dict>
    <key>iConNews</key>
    <dict>
      <key>frame</key><string>{{1112,71},{57,72}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{57,72}</string>
    </dict>
    <key>icChoiNhanh</key>
    <dict>
      <key>frame</key><string>{{1612,581},{68,37}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{68,37}</string>
    </dict>
    <key>icClock</key>
    <dict>
      <key>frame</key><string>{{1384,762},{28,32}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{28,32}</string>
    </dict>
    <key>icHuongDan</key>
    <dict>
      <key>frame</key><string>{{1618,652},{42,40}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{42,40}</string>
    </dict>
    <key>icMoneyMini</key>
    <dict>
      <key>frame</key><string>{{1578,791},{35,51}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{35,51}</string>
    </dict>
    <key>icRank</key>
    <dict>
      <key>frame</key><string>{{1519,758},{58,56}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{58,56}</string>
    </dict>
    <key>icSetting</key>
    <dict>
      <key>frame</key><string>{{1578,733},{51,55}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{51,55}</string>
    </dict>
    <key>icTaoBan</key>
    <dict>
      <key>frame</key><string>{{1578,662},{68,37}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{68,37}</string>
    </dict>
    <key>iconBanChung</key>
    <dict>
      <key>frame</key><string>{{989,235},{291,140}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{291,140}</string>
    </dict>
    <key>iconBanChungXocDia</key>
    <dict>
      <key>frame</key><string>{{1499,140},{291,140}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{291,140}</string>
    </dict>
    <key>iconBanRieng</key>
    <dict>
      <key>frame</key><string>{{991,548},{291,140}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{291,140}</string>
    </dict>
    <key>iconJoinRoom</key>
    <dict>
      <key>frame</key><string>{{1491,581},{118,78}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{118,78}</string>
    </dict>
    <key>img1_0</key>
    <dict>
      <key>frame</key><string>{{1642,222},{18,23}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{18,23}</string>
    </dict>
    <key>img1_1</key>
    <dict>
      <key>frame</key><string>{{1391,867},{9,24}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{9,24}</string>
    </dict>
    <key>img1_2</key>
    <dict>
      <key>frame</key><string>{{1112,131},{17,24}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{17,24}</string>
    </dict>
    <key>img1_3</key>
    <dict>
      <key>frame</key><string>{{1037,529},{16,24}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{16,24}</string>
    </dict>
    <key>img1_4</key>
    <dict>
      <key>frame</key><string>{{1632,811},{19,24}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{19,24}</string>
    </dict>
    <key>img1_5</key>
    <dict>
      <key>frame</key><string>{{1064,529},{16,24}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{16,24}</string>
    </dict>
    <key>img1_6</key>
    <dict>
      <key>frame</key><string>{{1642,168},{18,24}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{18,24}</string>
    </dict>
    <key>img1_7</key>
    <dict>
      <key>frame</key><string>{{1112,158},{17,24}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{17,24}</string>
    </dict>
    <key>img1_8</key>
    <dict>
      <key>frame</key><string>{{1642,195},{18,24}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{18,24}</string>
    </dict>
    <key>img1_9</key>
    <dict>
      <key>frame</key><string>{{1112,185},{17,24}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{17,24}</string>
    </dict>
    <key>img1_:0</key>
    <dict>
      <key>frame</key><string>{{1271,797},{15,27}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{15,27}</string>
    </dict>
    <key>img1_B</key>
    <dict>
      <key>frame</key><string>{{1642,140},{18,25}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{18,25}</string>
    </dict>
    <key>img1_K</key>
    <dict>
      <key>frame</key><string>{{1391,797},{20,25}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{20,25}</string>
    </dict>
    <key>img1_M</key>
    <dict>
      <key>frame</key><string>{{1487,828},{27,25}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{27,25}</string>
    </dict>
    <key>img1_cham</key>
    <dict>
      <key>frame</key><string>{{984,815},{6,25}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{6,25}</string>
    </dict>
    <key>img1_phay</key>
    <dict>
      <key>frame</key><string>{{1572,129},{8,29}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{8,29}</string>
    </dict>
    <key>img_0</key>
    <dict>
      <key>frame</key><string>{{1391,825},{29,39}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{29,39}</string>
    </dict>
    <key>img_1</key>
    <dict>
      <key>frame</key><string>{{1632,770},{23,38}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{23,38}</string>
    </dict>
    <key>img_2</key>
    <dict>
      <key>frame</key><string>{{1423,825},{29,39}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{29,39}</string>
    </dict>
    <key>img_3</key>
    <dict>
      <key>frame</key><string>{{1622,108},{29,38}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{29,38}</string>
    </dict>
    <key>img_4</key>
    <dict>
      <key>frame</key><string>{{1622,74},{31,38}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{31,38}</string>
    </dict>
    <key>img_5</key>
    <dict>
      <key>frame</key><string>{{1455,825},{29,38}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{29,38}</string>
    </dict>
    <key>img_6</key>
    <dict>
      <key>frame</key><string>{{1323,797},{31,38}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{31,38}</string>
    </dict>
    <key>img_7</key>
    <dict>
      <key>frame</key><string>{{1632,729},{27,38}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{27,38}</string>
    </dict>
    <key>img_8</key>
    <dict>
      <key>frame</key><string>{{1618,695},{31,39}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{31,39}</string>
    </dict>
    <key>img_9</key>
    <dict>
      <key>frame</key><string>{{1323,838},{31,38}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{31,38}</string>
    </dict>
    <key>img_:0</key>
    <dict>
      <key>frame</key><string>{{1619,2},{27,41}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{27,41}</string>
    </dict>
    <key>img_B</key>
    <dict>
      <key>frame</key><string>{{1357,797},{31,38}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{31,38}</string>
    </dict>
    <key>img_K</key>
    <dict>
      <key>frame</key><string>{{1357,838},{31,38}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{31,38}</string>
    </dict>
    <key>img_M</key>
    <dict>
      <key>frame</key><string>{{1622,32},{39,38}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{39,38}</string>
    </dict>
    <key>img_cham</key>
    <dict>
      <key>frame</key><string>{{1091,529},{11,38}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{11,38}</string>
    </dict>
    <key>img_phay</key>
    <dict>
      <key>frame</key><string>{{989,529},{12,45}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{12,45}</string>
    </dict>
    <key>joinRoomIcon</key>
    <dict>
      <key>frame</key><string>{{1285,683},{127,76}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{127,76}</string>
    </dict>
    <key>loadingBanChung</key>
    <dict>
      <key>frame</key><string>{{1132,505},{186,40}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{186,40}</string>
    </dict>
    <key>loadingBanChungCopy7</key>
    <dict>
      <key>frame</key><string>{{989,691},{292,45}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{292,45}</string>
    </dict>
    <key>loadingonline</key>
    <dict>
      <key>frame</key><string>{{1108,815},{212,43}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{212,43}</string>
    </dict>
    <key>newYearFooter</key>
    <dict>
      <key>frame</key><string>{{1285,548},{132,127}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{132,127}</string>
    </dict>
    <key>noel_FooterL_room</key>
    <dict>
      <key>frame</key><string>{{1197,42},{372,95}}</string>
      <key>offset</key><string>{0,-3}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{372,101}</string>
    </dict>
    <key>noel_FooterR_room</key>
    <dict>
      <key>frame</key><string>{{1338,140},{371,158}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{371,158}</string>
    </dict>
    <key>noel_gift_1</key>
    <dict>
      <key>frame</key><string>{{1519,662},{93,56}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{93,56}</string>
    </dict>
    <key>noel_gift_2</key>
    <dict>
      <key>frame</key><string>{{1572,42},{84,47}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{84,47}</string>
    </dict>
    <key>popupnoti</key>
    <dict>
      <key>frame</key><string>{{557,824},{548,50}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{548,50}</string>
    </dict>
    <key>roomThuongXD</key>
    <dict>
      <key>frame</key><string>{{2,469},{984,75}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{984,75}</string>
    </dict>
    <key>textCongBangChongDanhVay</key>
    <dict>
      <key>frame</key><string>{{1197,2},{419,37}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{419,37}</string>
    </dict>
    <key>tien</key>
    <dict>
      <key>frame</key><string>{{1323,514},{173,25}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{173,25}</string>
    </dict>
    <key>topCenter</key>
    <dict>
      <key>frame</key><string>{{2,804},{552,72}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{552,72}</string>
    </dict>
    <key>topLeft</key>
    <dict>
      <key>frame</key><string>{{2,711},{571,90}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{571,90}</string>
    </dict>
    <key>topRight</key>
    <dict>
      <key>frame</key><string>{{2,618},{576,90}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{576,90}</string>
    </dict>
    <key>txtChoiNhanh</key>
    <dict>
      <key>frame</key><string>{{1491,662},{163,25}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><true/>
      <key>sourceSize</key><string>{163,25}</string>
    </dict>
    <key>txtTaoBan</key>
    <dict>
      <key>frame</key><string>{{1271,762},{110,32}}</string>
      <key>offset</key><string>{0,0}</string>
      <key>rotated</key><false/>
      <key>sourceSize</key><string>{110,32}</string>
    </dict>
  </dict>
  <key>metadata</key>
  <dict>
    <key>format</key><integer>2</integer>
    <key>realTextureFileName</key><string>atlas_0b1f9c46.png</string>
    <key>textureFileName</key><string>atlas_0b1f9c46.png</string>
    <key>size</key><string>{1662,878}</string>
  </dict>
</dict>
</plist>
