<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_coin_vichinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{64,63}</string>
                <key>textureRect</key>
                <string>{{0,60},{64,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_bot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1020,60}</string>
                <key>spriteSourceSize</key>
                <string>{1020,60}</string>
                <key>textureRect</key>
                <string>{{809,0},{1020,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_khungtien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,36}</string>
                <key>spriteSourceSize</key>
                <string>{58,36}</string>
                <key>textureRect</key>
                <string>{{289,0},{58,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_sodu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,85}</string>
                <key>spriteSourceSize</key>
                <string>{440,85}</string>
                <key>textureRect</key>
                <string>{{64,60},{440,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tk_mk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,55}</string>
                <key>spriteSourceSize</key>
                <string>{77,55}</string>
                <key>textureRect</key>
                <string>{{394,0},{77,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1286,98}</string>
                <key>spriteSourceSize</key>
                <string>{1286,98}</string>
                <key>textureRect</key>
                <string>{{504,60},{1286,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dangky_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,57}</string>
                <key>spriteSourceSize</key>
                <string>{169,57}</string>
                <key>textureRect</key>
                <string>{{471,0},{169,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dangnhap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,57}</string>
                <key>spriteSourceSize</key>
                <string>{169,57}</string>
                <key>textureRect</key>
                <string>{{640,0},{169,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_naptien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,50}</string>
                <key>spriteSourceSize</key>
                <string>{47,50}</string>
                <key>textureRect</key>
                <string>{{347,0},{47,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_dangnhap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,31}</string>
                <key>spriteSourceSize</key>
                <string>{124,31}</string>
                <key>textureRect</key>
                <string>{{0,0},{124,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_quenMK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,31}</string>
                <key>spriteSourceSize</key>
                <string>{165,31}</string>
                <key>textureRect</key>
                <string>{{124,0},{165,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>top.png</string>
            <key>size</key>
            <string>{1829,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94d53c9a3f75eefa8c6f982a125a56c9:484b5e52a0183cffd1e41492758b587d:ebeee8f59da13818df754e8044b6a295$</string>
            <key>textureFileName</key>
            <string>top.png</string>
        </dict>
    </dict>
</plist>
