<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,51}</string>
                <key>spriteSourceSize</key>
                <string>{146,51}</string>
                <key>textureRect</key>
                <string>{{897,3},{146,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,51}</string>
                <key>spriteSourceSize</key>
                <string>{146,51}</string>
                <key>textureRect</key>
                <string>{{450,3},{146,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,51}</string>
                <key>spriteSourceSize</key>
                <string>{146,51}</string>
                <key>textureRect</key>
                <string>{{599,3},{146,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,51}</string>
                <key>spriteSourceSize</key>
                <string>{146,51}</string>
                <key>textureRect</key>
                <string>{{3,3},{146,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>500k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,51}</string>
                <key>spriteSourceSize</key>
                <string>{146,51}</string>
                <key>textureRect</key>
                <string>{{1046,3},{146,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>50k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,51}</string>
                <key>spriteSourceSize</key>
                <string>{146,51}</string>
                <key>textureRect</key>
                <string>{{748,3},{146,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,51}</string>
                <key>spriteSourceSize</key>
                <string>{146,51}</string>
                <key>textureRect</key>
                <string>{{152,3},{146,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,51}</string>
                <key>spriteSourceSize</key>
                <string>{146,51}</string>
                <key>textureRect</key>
                <string>{{301,3},{146,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_datcuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,57}</string>
                <key>spriteSourceSize</key>
                <string>{148,57}</string>
                <key>textureRect</key>
                <string>{{1195,3},{148,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_huy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,53}</string>
                <key>spriteSourceSize</key>
                <string>{147,53}</string>
                <key>textureRect</key>
                <string>{{1346,3},{147,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sokhac.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,53}</string>
                <key>spriteSourceSize</key>
                <string>{148,53}</string>
                <key>textureRect</key>
                <string>{{1496,3},{148,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tattay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,54}</string>
                <key>spriteSourceSize</key>
                <string>{147,54}</string>
                <key>textureRect</key>
                <string>{{1647,3},{147,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tienbet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,34}</string>
                <key>spriteSourceSize</key>
                <string>{115,34}</string>
                <key>textureRect</key>
                <string>{{1797,3},{115,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>banphim.png</string>
            <key>size</key>
            <string>{1915,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd889d5667c564f1b95d343fb007b6e9:054665783216f4b9880b1b32f592eaf0:0032bbb56a84e1a9c0dfdf9ac48ddb32$</string>
            <key>textureFileName</key>
            <string>banphim.png</string>
        </dict>
    </dict>
</plist>
