<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ui_content_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,631}</string>
                <key>spriteSourceSize</key>
                <string>{1000,631}</string>
                <key>textureRect</key>
                <string>{{5,1309},{1000,631}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{971,451}</string>
                <key>spriteSourceSize</key>
                <string>{971,451}</string>
                <key>textureRect</key>
                <string>{{5,5},{971,451}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{972,49}</string>
                <key>spriteSourceSize</key>
                <string>{972,49}</string>
                <key>textureRect</key>
                <string>{{5,461},{972,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_banphim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,207}</string>
                <key>spriteSourceSize</key>
                <string>{615,207}</string>
                <key>textureRect</key>
                <string>{{5,515},{615,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_bantx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{831,577}</string>
                <key>spriteSourceSize</key>
                <string>{831,577}</string>
                <key>textureRect</key>
                <string>{{5,727},{831,577}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bigBG.png</string>
            <key>size</key>
            <string>{1010,1945}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9f19cbff63a2af292c2bd0c72739114:e6472c4f8da3bc0c671e36f3be8ecb70:03c77edd47869159e9f62f6b25aa0db9$</string>
            <key>textureFileName</key>
            <string>bigBG.png</string>
        </dict>
    </dict>
</plist>
