<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_vichinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{476,5},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_viphu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{574,5},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,99}</string>
                <key>spriteSourceSize</key>
                <string>{156,99}</string>
                <key>textureRect</key>
                <string>{{710,112},{156,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,76}</string>
                <key>spriteSourceSize</key>
                <string>{497,76}</string>
                <key>textureRect</key>
                <string>{{515,229},{497,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,104}</string>
                <key>spriteSourceSize</key>
                <string>{180,104}</string>
                <key>textureRect</key>
                <string>{{5,229},{180,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,59}</string>
                <key>spriteSourceSize</key>
                <string>{58,59}</string>
                <key>textureRect</key>
                <string>{{194,5},{58,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_SangOutline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{107,5},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic-lich-su-phien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{321,5},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{672,5},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{257,5},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_huongdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{783,5},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_lichsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{894,5},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_nan - Copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,112}</string>
                <key>spriteSourceSize</key>
                <string>{114,112}</string>
                <key>textureRect</key>
                <string>{{227,112},{114,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{391,5},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_nan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,112}</string>
                <key>spriteSourceSize</key>
                <string>{114,112}</string>
                <key>textureRect</key>
                <string>{{346,112},{114,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_thongke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,112}</string>
                <key>spriteSourceSize</key>
                <string>{114,112}</string>
                <key>textureRect</key>
                <string>{{465,112},{114,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{5,112},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,31}</string>
                <key>spriteSourceSize</key>
                <string>{42,31}</string>
                <key>textureRect</key>
                <string>{{147,5},{42,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icoNext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,35}</string>
                <key>spriteSourceSize</key>
                <string>{23,35}</string>
                <key>textureRect</key>
                <string>{{5,5},{23,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-hien-thoi-gian-ket-qua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,40}</string>
                <key>spriteSourceSize</key>
                <string>{106,40}</string>
                <key>textureRect</key>
                <string>{{116,112},{106,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,4}</string>
                <key>spriteSourceSize</key>
                <string>{630,4}</string>
                <key>textureRect</key>
                <string>{{5,603},{630,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nap_nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,315}</string>
                <key>spriteSourceSize</key>
                <string>{320,315}</string>
                <key>textureRect</key>
                <string>{{190,229},{320,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_datcuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,29}</string>
                <key>spriteSourceSize</key>
                <string>{121,29}</string>
                <key>textureRect</key>
                <string>{{584,112},{121,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanh_vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,49}</string>
                <key>spriteSourceSize</key>
                <string>{600,49}</string>
                <key>textureRect</key>
                <string>{{5,549},{600,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanh_vi_trang_den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{704,108}</string>
                <key>spriteSourceSize</key>
                <string>{704,108}</string>
                <key>textureRect</key>
                <string>{{5,612},{704,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,37}</string>
                <key>spriteSourceSize</key>
                <string>{860,37}</string>
                <key>textureRect</key>
                <string>{{5,725},{860,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vi_den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{33,5},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vi_trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{70,5},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ic_btn.png</string>
            <key>size</key>
            <string>{1017,767}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af17cee1b6279f46eeacd5e8392c1449:3898107a209bbc6aa97f7b2019035303:5c494c038c651bb9a709c385ca723a7f$</string>
            <key>textureFileName</key>
            <string>ic_btn.png</string>
        </dict>
    </dict>
</plist>
