<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_arraw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,48}</string>
                <key>spriteSourceSize</key>
                <string>{26,48}</string>
                <key>textureRect</key>
                <string>{{849,3},{26,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_chuyentrang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{949,3},{53,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_gui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,51}</string>
                <key>spriteSourceSize</key>
                <string>{68,51}</string>
                <key>textureRect</key>
                <string>{{878,3},{68,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{541,3},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{570,3},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{600,3},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{630,3},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{660,3},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{690,3},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{720,3},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{750,3},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{780,3},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{338,3},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{367,3},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{396,3},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{425,3},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{454,3},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{483,3},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{512,3},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_xingau1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{148,3},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_xingau2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{174,3},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot_xingau3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{200,3},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_dot_tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{3,3},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_dot_xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{27,3},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Text_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,200}</string>
                <key>spriteSourceSize</key>
                <string>{13,200}</string>
                <key>textureRect</key>
                <string>{{813,376},{13,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Text_3_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,200}</string>
                <key>spriteSourceSize</key>
                <string>{23,200}</string>
                <key>textureRect</key>
                <string>{{829,376},{23,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_frame_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,486}</string>
                <key>spriteSourceSize</key>
                <string>{164,486}</string>
                <key>textureRect</key>
                <string>{{855,376},{164,486}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_frame_tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,65}</string>
                <key>spriteSourceSize</key>
                <string>{178,65}</string>
                <key>textureRect</key>
                <string>{{3,60},{178,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_frame_xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,65}</string>
                <key>spriteSourceSize</key>
                <string>{178,65}</string>
                <key>textureRect</key>
                <string>{{184,60},{178,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_line_thongke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{844,135}</string>
                <key>spriteSourceSize</key>
                <string>{844,135}</string>
                <key>textureRect</key>
                <string>{{3,238},{844,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_line_thongke_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{807,183}</string>
                <key>spriteSourceSize</key>
                <string>{807,183}</string>
                <key>textureRect</key>
                <string>{{3,376},{807,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_tick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{810,3},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_daythang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,86}</string>
                <key>spriteSourceSize</key>
                <string>{263,86}</string>
                <key>textureRect</key>
                <string>{{511,60},{263,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_daythua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,86}</string>
                <key>spriteSourceSize</key>
                <string>{263,86}</string>
                <key>textureRect</key>
                <string>{{3,149},{263,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{435,60},{73,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{365,60},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_daythang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,24}</string>
                <key>spriteSourceSize</key>
                <string>{109,24}</string>
                <key>textureRect</key>
                <string>{{226,3},{109,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_daythua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,22}</string>
                <key>spriteSourceSize</key>
                <string>{94,22}</string>
                <key>textureRect</key>
                <string>{{51,3},{94,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{1022,865}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:699880c1c3563b4f669240b24228be8d:aa355ece1ec03206b6e05aa2d3a87df6:240848ad97db3b21fd898f16a7d3102d$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
