<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,64}</string>
                <key>spriteSourceSize</key>
                <string>{143,64}</string>
                <key>textureRect</key>
                <string>{{623,0},{143,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_lsc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,64}</string>
                <key>spriteSourceSize</key>
                <string>{143,64}</string>
                <key>textureRect</key>
                <string>{{766,0},{143,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_uinaptien_lsc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,64}</string>
                <key>spriteSourceSize</key>
                <string>{142,64}</string>
                <key>textureRect</key>
                <string>{{0,64},{142,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_BSC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{126,0},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ETH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{168,0},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_TRX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{210,0},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,18}</string>
                <key>spriteSourceSize</key>
                <string>{27,18}</string>
                <key>textureRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_chuyentien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,188}</string>
                <key>spriteSourceSize</key>
                <string>{443,188}</string>
                <key>textureRect</key>
                <string>{{525,64},{443,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{58,0},{34,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_doithedt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,188}</string>
                <key>spriteSourceSize</key>
                <string>{443,188}</string>
                <key>textureRect</key>
                <string>{{0,252},{443,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_doivi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,188}</string>
                <key>spriteSourceSize</key>
                <string>{443,188}</string>
                <key>textureRect</key>
                <string>{{443,252},{443,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_edit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{27,0},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_lienketsdt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{344,0},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_lienkettele.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{294,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_napgiftcode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,188}</string>
                <key>spriteSourceSize</key>
                <string>{443,188}</string>
                <key>textureRect</key>
                <string>{{0,440},{443,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_napnganhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,188}</string>
                <key>spriteSourceSize</key>
                <string>{443,188}</string>
                <key>textureRect</key>
                <string>{{443,440},{443,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_napthedt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,188}</string>
                <key>spriteSourceSize</key>
                <string>{443,188}</string>
                <key>textureRect</key>
                <string>{{0,628},{443,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_naptienao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,188}</string>
                <key>spriteSourceSize</key>
                <string>{443,188}</string>
                <key>textureRect</key>
                <string>{{443,628},{443,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_napvidientu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,188}</string>
                <key>spriteSourceSize</key>
                <string>{443,188}</string>
                <key>textureRect</key>
                <string>{{0,816},{443,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_reload.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,39}</string>
                <key>spriteSourceSize</key>
                <string>{34,39}</string>
                <key>textureRect</key>
                <string>{{92,0},{34,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_rutnganhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,188}</string>
                <key>spriteSourceSize</key>
                <string>{443,188}</string>
                <key>textureRect</key>
                <string>{{443,816},{443,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_ruttienao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,188}</string>
                <key>spriteSourceSize</key>
                <string>{443,188}</string>
                <key>textureRect</key>
                <string>{{0,1004},{443,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_rutvidientu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,188}</string>
                <key>spriteSourceSize</key>
                <string>{443,188}</string>
                <key>textureRect</key>
                <string>{{443,1004},{443,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tab_action.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,61}</string>
                <key>spriteSourceSize</key>
                <string>{226,61}</string>
                <key>textureRect</key>
                <string>{{397,0},{226,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconmini_loading_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{252,0},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>im_codepay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,162}</string>
                <key>spriteSourceSize</key>
                <string>{383,162}</string>
                <key>textureRect</key>
                <string>{{142,64},{383,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>naprut.png</string>
            <key>size</key>
            <string>{968,1192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:592f7da9d40fd7da4e154c11171c7c7e:87b7ff654247ca991d08ce7f991b10fa:80add3d0d310b2467dcf920bd8e9a0d9$</string>
            <key>textureFileName</key>
            <string>naprut.png</string>
        </dict>
    </dict>
</plist>
