<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_2_chitiet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{562,355}</string>
                <key>spriteSourceSize</key>
                <string>{562,355}</string>
                <key>textureRect</key>
                <string>{{330,0},{562,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_bantx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{831,577}</string>
                <key>spriteSourceSize</key>
                <string>{831,577}</string>
                <key>textureRect</key>
                <string>{{0,486},{831,577}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgchat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,486}</string>
                <key>spriteSourceSize</key>
                <string>{330,486}</string>
                <key>textureRect</key>
                <string>{{0,0},{330,486}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huong_dan_md5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{915,255}</string>
                <key>spriteSourceSize</key>
                <string>{915,255}</string>
                <key>textureRect</key>
                <string>{{0,1063},{915,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>md5bg.png</string>
            <key>size</key>
            <string>{915,1318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:549dfdac15a60b894e80d794c9fe71dc:6548a440cfcd26114aff9fb3c42a8192:e421fecdde604c8d28fcc934dc696eae$</string>
            <key>textureFileName</key>
            <string>md5bg.png</string>
        </dict>
    </dict>
</plist>
