<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,51}</string>
                <key>spriteSourceSize</key>
                <string>{146,51}</string>
                <key>textureRect</key>
                <string>{{292,163},{146,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,51}</string>
                <key>spriteSourceSize</key>
                <string>{146,51}</string>
                <key>textureRect</key>
                <string>{{698,112},{146,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,51}</string>
                <key>spriteSourceSize</key>
                <string>{146,51}</string>
                <key>textureRect</key>
                <string>{{0,163},{146,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,51}</string>
                <key>spriteSourceSize</key>
                <string>{146,51}</string>
                <key>textureRect</key>
                <string>{{260,112},{146,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>500k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,51}</string>
                <key>spriteSourceSize</key>
                <string>{146,51}</string>
                <key>textureRect</key>
                <string>{{438,163},{146,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>50k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,51}</string>
                <key>spriteSourceSize</key>
                <string>{146,51}</string>
                <key>textureRect</key>
                <string>{{146,163},{146,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,51}</string>
                <key>spriteSourceSize</key>
                <string>{146,51}</string>
                <key>textureRect</key>
                <string>{{406,112},{146,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,51}</string>
                <key>spriteSourceSize</key>
                <string>{146,51}</string>
                <key>textureRect</key>
                <string>{{552,112},{146,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,298}</string>
                <key>spriteSourceSize</key>
                <string>{302,298}</string>
                <key>textureRect</key>
                <string>{{228,744},{302,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_noti (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,43}</string>
                <key>spriteSourceSize</key>
                <string>{163,43}</string>
                <key>textureRect</key>
                <string>{{0,112},{163,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_vichinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{383,217},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_viphu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{476,217},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,99}</string>
                <key>spriteSourceSize</key>
                <string>{156,99}</string>
                <key>textureRect</key>
                <string>{{569,217},{156,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Text_domain_logo_TXMD5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,33}</string>
                <key>spriteSourceSize</key>
                <string>{352,33}</string>
                <key>textureRect</key>
                <string>{{340,0},{352,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,104}</string>
                <key>spriteSourceSize</key>
                <string>{180,104}</string>
                <key>textureRect</key>
                <string>{{706,316},{180,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bet_amount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,40}</string>
                <key>spriteSourceSize</key>
                <string>{117,40}</string>
                <key>textureRect</key>
                <string>{{559,72},{117,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_betting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,101}</string>
                <key>spriteSourceSize</key>
                <string>{282,101}</string>
                <key>textureRect</key>
                <string>{{0,316},{282,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{282,316},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{244,217},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_datcuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,57}</string>
                <key>spriteSourceSize</key>
                <string>{148,57}</string>
                <key>textureRect</key>
                <string>{{96,217},{148,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_huy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,53}</string>
                <key>spriteSourceSize</key>
                <string>{147,53}</string>
                <key>textureRect</key>
                <string>{{584,163},{147,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{388,316},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_konan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,112}</string>
                <key>spriteSourceSize</key>
                <string>{114,112}</string>
                <key>textureRect</key>
                <string>{{704,632},{114,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lsc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{494,316},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_nan - Copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,112}</string>
                <key>spriteSourceSize</key>
                <string>{114,112}</string>
                <key>textureRect</key>
                <string>{{0,744},{114,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{303,217},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{600,316},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tattay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,54}</string>
                <key>spriteSourceSize</key>
                <string>{147,54}</string>
                <key>textureRect</key>
                <string>{{731,163},{147,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_thongke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,112}</string>
                <key>spriteSourceSize</key>
                <string>{114,112}</string>
                <key>textureRect</key>
                <string>{{114,744},{114,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuoi_md5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,39}</string>
                <key>spriteSourceSize</key>
                <string>{559,39}</string>
                <key>textureRect</key>
                <string>{{0,33},{559,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_SangOutline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{163,112},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,54}</string>
                <key>spriteSourceSize</key>
                <string>{96,54}</string>
                <key>textureRect</key>
                <string>{{0,217},{96,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,31}</string>
                <key>spriteSourceSize</key>
                <string>{42,31}</string>
                <key>textureRect</key>
                <string>{{234,0},{42,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{211,112},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ketqua_md5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,39}</string>
                <key>spriteSourceSize</key>
                <string>{559,39}</string>
                <key>textureRect</key>
                <string>{{0,72},{559,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung-hien-thoi-gian-ket-qua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,40}</string>
                <key>spriteSourceSize</key>
                <string>{106,40}</string>
                <key>textureRect</key>
                <string>{{676,72},{106,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,5}</string>
                <key>spriteSourceSize</key>
                <string>{211,5}</string>
                <key>textureRect</key>
                <string>{{0,0},{211,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nap_nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,315}</string>
                <key>spriteSourceSize</key>
                <string>{320,315}</string>
                <key>textureRect</key>
                <string>{{530,744},{320,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nut_thongke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{276,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nut_thongke_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{308,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanh_chuoimd5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{785,106}</string>
                <key>spriteSourceSize</key>
                <string>{785,106}</string>
                <key>textureRect</key>
                <string>{{0,420},{785,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanh_ketquamd5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{785,106}</string>
                <key>spriteSourceSize</key>
                <string>{785,106}</string>
                <key>textureRect</key>
                <string>{{0,526},{785,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanh_vi_trang_den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{704,108}</string>
                <key>spriteSourceSize</key>
                <string>{704,108}</string>
                <key>textureRect</key>
                <string>{{0,632},{704,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,30}</string>
                <key>spriteSourceSize</key>
                <string>{23,30}</string>
                <key>textureRect</key>
                <string>{{211,0},{23,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>taixiumd5.png</string>
            <key>size</key>
            <string>{886,1059}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f63603bc72f9e97ac5d5ede8ec7971e2:b9383c671e71e9fb326db599ee21e650:516f63e266e77c3f309c8021299a38d1$</string>
            <key>textureFileName</key>
            <string>taixiumd5.png</string>
        </dict>
    </dict>
</plist>
