<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ui_frame_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,694}</string>
                <key>spriteSourceSize</key>
                <string>{794,694}</string>
                <key>textureRect</key>
                <string>{{3,3},{794,694}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_frame_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,561}</string>
                <key>spriteSourceSize</key>
                <string>{450,561}</string>
                <key>textureRect</key>
                <string>{{803,3},{450,561}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lode_frame.png</string>
            <key>size</key>
            <string>{1256,700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1381def6b4a2dab9e6b3700e6696b52:9cb382eef8239afad067a862ded9806e:9d05235b54f21ef19e0eb727518e695a$</string>
            <key>textureFileName</key>
            <string>lode_frame.png</string>
        </dict>
    </dict>
</plist>
