<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_chondai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,19}</string>
                <key>spriteSourceSize</key>
                <string>{29,19}</string>
                <key>textureRect</key>
                <string>{{1133,3},{29,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_chonxong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,62}</string>
                <key>spriteSourceSize</key>
                <string>{166,62}</string>
                <key>textureRect</key>
                <string>{{3,262},{166,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_close_main.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,59}</string>
                <key>spriteSourceSize</key>
                <string>{61,59}</string>
                <key>textureRect</key>
                <string>{{1160,134},{61,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{665,28},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_lsc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,42}</string>
                <key>spriteSourceSize</key>
                <string>{35,42}</string>
                <key>textureRect</key>
                <string>{{959,28},{35,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_main_lode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,43}</string>
                <key>spriteSourceSize</key>
                <string>{157,43}</string>
                <key>textureRect</key>
                <string>{{1301,28},{157,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_red_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,49}</string>
                <key>spriteSourceSize</key>
                <string>{139,49}</string>
                <key>textureRect</key>
                <string>{{147,75},{139,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_vinhdanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,39}</string>
                <key>spriteSourceSize</key>
                <string>{43,39}</string>
                <key>textureRect</key>
                <string>{{449,28},{43,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_xam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,43}</string>
                <key>spriteSourceSize</key>
                <string>{140,43}</string>
                <key>textureRect</key>
                <string>{{3,75},{140,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,42}</string>
                <key>spriteSourceSize</key>
                <string>{139,42}</string>
                <key>textureRect</key>
                <string>{{998,28},{139,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_dropdown_chonngay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,31}</string>
                <key>spriteSourceSize</key>
                <string>{129,31}</string>
                <key>textureRect</key>
                <string>{{153,28},{129,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_ngaythang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,245}</string>
                <key>spriteSourceSize</key>
                <string>{310,245}</string>
                <key>textureRect</key>
                <string>{{953,363},{310,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_nhapso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,53}</string>
                <key>spriteSourceSize</key>
                <string>{232,53}</string>
                <key>textureRect</key>
                <string>{{505,75},{232,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_number_boxleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{1058,197},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tab_truyenthong_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,97}</string>
                <key>spriteSourceSize</key>
                <string>{406,97}</string>
                <key>textureRect</key>
                <string>{{975,262},{406,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_frame_chondaivstime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,50}</string>
                <key>spriteSourceSize</key>
                <string>{211,50}</string>
                <key>textureRect</key>
                <string>{{290,75},{211,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_frame_so.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,39}</string>
                <key>spriteSourceSize</key>
                <string>{81,39}</string>
                <key>textureRect</key>
                <string>{{496,28},{81,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_frame_so_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,39}</string>
                <key>textureRect</key>
                <string>{{581,28},{80,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_frame_soduocchon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{899,60}</string>
                <key>spriteSourceSize</key>
                <string>{899,60}</string>
                <key>textureRect</key>
                <string>{{3,197},{899,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_frame_vinhdanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{890,102}</string>
                <key>spriteSourceSize</key>
                <string>{890,102}</string>
                <key>textureRect</key>
                <string>{{3,363},{890,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_line_decor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,21}</string>
                <key>spriteSourceSize</key>
                <string>{267,21}</string>
                <key>textureRect</key>
                <string>{{1166,3},{267,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_main_frame_notivsmoney.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1153,58}</string>
                <key>spriteSourceSize</key>
                <string>{1153,58}</string>
                <key>textureRect</key>
                <string>{{3,134},{1153,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_main_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,154}</string>
                <key>spriteSourceSize</key>
                <string>{45,154}</string>
                <key>textureRect</key>
                <string>{{904,363},{45,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_tab_3so.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,42}</string>
                <key>spriteSourceSize</key>
                <string>{156,42}</string>
                <key>textureRect</key>
                <string>{{1141,28},{156,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_tab_ketqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,69}</string>
                <key>spriteSourceSize</key>
                <string>{444,69}</string>
                <key>textureRect</key>
                <string>{{308,262},{444,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_tab_ketqua_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,60}</string>
                <key>spriteSourceSize</key>
                <string>{148,60}</string>
                <key>textureRect</key>
                <string>{{906,197},{148,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_tab_truyenthong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,61}</string>
                <key>spriteSourceSize</key>
                <string>{450,61}</string>
                <key>textureRect</key>
                <string>{{1123,197},{450,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_tab_truyenthong_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,55}</string>
                <key>spriteSourceSize</key>
                <string>{222,55}</string>
                <key>textureRect</key>
                <string>{{741,75},{222,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,37}</string>
                <key>spriteSourceSize</key>
                <string>{100,37}</string>
                <key>textureRect</key>
                <string>{{345,28},{100,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,66}</string>
                <key>spriteSourceSize</key>
                <string>{131,66}</string>
                <key>textureRect</key>
                <string>{{173,262},{131,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_datcuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,80}</string>
                <key>spriteSourceSize</key>
                <string>{215,80}</string>
                <key>textureRect</key>
                <string>{{756,262},{215,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,42}</string>
                <key>spriteSourceSize</key>
                <string>{121,42}</string>
                <key>textureRect</key>
                <string>{{709,28},{121,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lo_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,42}</string>
                <key>spriteSourceSize</key>
                <string>{121,42}</string>
                <key>textureRect</key>
                <string>{{834,28},{121,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_chon_so.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,59}</string>
                <key>spriteSourceSize</key>
                <string>{61,59}</string>
                <key>textureRect</key>
                <string>{{1225,134},{61,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{286,28},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_xoso_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,133}</string>
                <key>spriteSourceSize</key>
                <string>{3,133}</string>
                <key>textureRect</key>
                <string>{{897,363},{3,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{971,1}</string>
                <key>spriteSourceSize</key>
                <string>{971,1}</string>
                <key>textureRect</key>
                <string>{{3,3},{971,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_dropdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,1}</string>
                <key>spriteSourceSize</key>
                <string>{151,1}</string>
                <key>textureRect</key>
                <string>{{978,3},{151,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_xoso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,28}</string>
                <key>spriteSourceSize</key>
                <string>{146,28}</string>
                <key>textureRect</key>
                <string>{{3,28},{146,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lode.png</string>
            <key>size</key>
            <string>{1576,611}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d402229d31a5be7f738803205ffea7f0:f726f542f55d5672429bfd8445dbbc01:22a13f4615f661d67eb368a4eec2976b$</string>
            <key>textureFileName</key>
            <string>lode.png</string>
        </dict>
    </dict>
</plist>
