<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ui_frame_noti_toast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,62}</string>
                <key>spriteSourceSize</key>
                <string>{200,62}</string>
                <key>textureRect</key>
                <string>{{67,0},{200,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,80}</string>
                <key>spriteSourceSize</key>
                <string>{2,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{2,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ui_line_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,80}</string>
                <key>spriteSourceSize</key>
                <string>{2,80}</string>
                <key>textureRect</key>
                <string>{{2,0},{2,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_noti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,33}</string>
                <key>spriteSourceSize</key>
                <string>{454,33}</string>
                <key>textureRect</key>
                <string>{{267,0},{454,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{738,636}</string>
                <key>spriteSourceSize</key>
                <string>{738,636}</string>
                <key>textureRect</key>
                <string>{{0,480},{738,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_popup_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1132,652}</string>
                <key>spriteSourceSize</key>
                <string>{1132,652}</string>
                <key>textureRect</key>
                <string>{{738,480},{1132,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_popup_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,367}</string>
                <key>spriteSourceSize</key>
                <string>{586,367}</string>
                <key>textureRect</key>
                <string>{{721,0},{586,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_table_event.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,480}</string>
                <key>spriteSourceSize</key>
                <string>{63,480}</string>
                <key>textureRect</key>
                <string>{{4,0},{63,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>popup.png</string>
            <key>size</key>
            <string>{1870,1132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e817bd64ed7156d2e8d731c44922259:a087b8dcd3a82e6f0afc5a33454541b7:a90c11ab0396de5086de12c3ccb699d4$</string>
            <key>textureFileName</key>
            <string>popup.png</string>
        </dict>
    </dict>
</plist>
